# Advanced Querying Mongo

Importing libraries and setting up connection

In [12]:
from pymongo import MongoClient 
client = MongoClient("mongodb://localhost/ironhack")
db = client.get_database()

In [13]:
list(db.list_collections())

[{'name': 'companies',
  'type': 'collection',
  'options': {},
  'info': {'readOnly': False,
   'uuid': UUID('f0df70fa-ecbb-4210-b11a-d2f3d3075dc8')},
  'idIndex': {'v': 2, 'key': {'_id': 1}, 'name': '_id_'}}]

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [14]:
query = {"name":"Babelgum"}
list(db.companies.find(query,{"_id":0,"name":1}))

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [82]:
employees = {"number_of_employees":{"$gt":5000}}
project = {"_id":0,"number_of_employees":1}

result = db.companies.find(employees,project).limit(20).sort("number)of)employees",-1)
result = list(result)
result[:5]

[{'number_of_employees': 8000},
 {'number_of_employees': 51000},
 {'number_of_employees': 86300},
 {'number_of_employees': 33350},
 {'number_of_employees': 80000}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [94]:
# Your Code
query = {"founded_year":{"$gt":2000,"$lte":2005}}
list(db.companies.find(query,{"_id":0, "founded_year":1, "name":1}))[:10]

[{'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Zoho', 'founded_year': 2005},
 {'name': 'Digg', 'founded_year': 2004},
 {'name': 'Facebook', 'founded_year': 2004},
 {'name': 'Omnidrive', 'founded_year': 2005},
 {'name': 'StumbleUpon', 'founded_year': 2002},
 {'name': 'Gizmoz', 'founded_year': 2003},
 {'name': 'Helio', 'founded_year': 2005},
 {'name': 'Plaxo', 'founded_year': 2002},
 {'name': 'Technorati', 'founded_year': 2002}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [93]:
# Your Code
valuation = {"$and":[{"ipo.valuation_amount":{"$gt":100000000}}, {"founded_year":{"$lte":2010}}]}
list(db.companies.find(valuation,{"_id":0, "ipo.valuation_amount":1}))[:10]

[{'ipo': {'valuation_amount': 104000000000}},
 {'ipo': {'valuation_amount': 18100000000}},
 {'ipo': {'valuation_amount': 1300000000}},
 {'ipo': {'valuation_amount': 9310000000}},
 {'ipo': {'valuation_amount': 100000000000}},
 {'ipo': {'valuation_amount': 290000000}},
 {'ipo': {'valuation_amount': 235000000}},
 {'ipo': {'valuation_amount': 1600000000}},
 {'ipo': {'valuation_amount': 1050000000}},
 {'ipo': {'valuation_amount': 287000000}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [ ]:
# Your Code

### 6. All the companies that don't include the `partners` field.

In [ ]:
# Your Code

### 7. All the companies that have a null type of value on the `category_code` field.

In [ ]:
# Your Code

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [ ]:
# Your Code

### 9. Order all the companies by their IPO price in a descending order.

In [ ]:
# Your Code

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [ ]:
# Your Code

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [ ]:
# Your Code

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [ ]:
# Your Code

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [ ]:
# Your Code

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [ ]:
# Your Code

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [ ]:
# Your Code

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [ ]:
# Your Code

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [ ]:
# Your Code

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [ ]:
# Your Code

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [ ]:
# Your Code

### 20. All the companies that have been 'deadpooled' after the third year.

In [ ]:
# Your Code