# Advanced Querying Mongo

Importing libraries and setting up connection

In [21]:
from pymongo import MongoClient
client = MongoClient("mongodb://localhost/IRONHACK")
db = client.get_database()
list(db.list_collections())

[{'name': 'IRONHACK',
  'type': 'collection',
  'options': {},
  'info': {'readOnly': False,
   'uuid': UUID('c1ff5a45-62ed-429c-a3dc-0fc23192488e')},
  'idIndex': {'v': 2, 'key': {'_id': 1}, 'name': '_id_'}}]

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [40]:
query = {"name":{"$eq": "Babelgum"}}
list(db["IRONHACK"].find(query,{"_id":0,"name":1}))

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [72]:
query2 = {"number_of_employees":{"$gt": 5000}}
list(db["IRONHACK"].find(query2,{"_id":0,"name":1}).limit(20))

[{'name': 'Facebook'},
 {'name': 'eBay'},
 {'name': 'Cisco'},
 {'name': 'Yahoo!'},
 {'name': 'Google'},
 {'name': 'Intel'},
 {'name': 'Nintendo'},
 {'name': 'Adobe Systems'},
 {'name': 'Sony'},
 {'name': 'PayPal'},
 {'name': 'The Walt Disney Company'},
 {'name': 'AOL'},
 {'name': 'Webkinz'},
 {'name': 'Sun Microsystems'},
 {'name': 'Nokia'},
 {'name': 'Rakuten'},
 {'name': 'Microsoft'},
 {'name': 'Apple'},
 {'name': 'NetApp'},
 {'name': 'Motorola Solutions'}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [78]:
query3 = {"founded_year":{"$gt":2000, "$lt":2005}}

list(db["IRONHACK"].find(query3,{"_id":0,"name":1,"founded_year":1}))[:10]

[{'name': 'Digg', 'founded_year': 2004},
 {'name': 'Facebook', 'founded_year': 2004},
 {'name': 'StumbleUpon', 'founded_year': 2002},
 {'name': 'Gizmoz', 'founded_year': 2003},
 {'name': 'Plaxo', 'founded_year': 2002},
 {'name': 'Technorati', 'founded_year': 2002},
 {'name': 'AddThis', 'founded_year': 2004},
 {'name': 'Veoh', 'founded_year': 2004},
 {'name': 'Meetup', 'founded_year': 2002},
 {'name': 'SmugMug', 'founded_year': 2002}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [80]:
query4 = {"$and": [{"ipo.valuation_amount": {"$gte": 10000000}}, {"founded_year":{"$lt": 2010}}]}
list(db["IRONHACK"].find(query4,{"_id":0,"name":1,"ipo":1}))[:10]

[{'name': 'Facebook',
  'ipo': {'valuation_amount': 104000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 5,
   'pub_day': 18,
   'stock_symbol': 'NASDAQ:FB'}},
 {'name': 'Twitter',
  'ipo': {'valuation_amount': 18100000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2013,
   'pub_month': 11,
   'pub_day': 7,
   'stock_symbol': 'NYSE:TWTR'}},
 {'name': 'Yelp',
  'ipo': {'valuation_amount': 1300000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 3,
   'pub_day': 2,
   'stock_symbol': 'NYSE:YELP'}},
 {'name': 'LinkedIn',
  'ipo': {'valuation_amount': 9310000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2011,
   'pub_month': 7,
   'pub_day': 20,
   'stock_symbol': 'NYSE:LNKD'}},
 {'name': 'Amazon',
  'ipo': {'valuation_amount': 100000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 1997,
   'pub_month': 5,
   'pub_day': None,
   'stock_symbol': 'NASDAQ:AMZN'}},
 {'name': 'Brightcove',
  'ipo': {'valuation_amount': 290000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 2,
   'pub_day': 17,
   'stock_symbol': 'NASDAQ:BCOV'}},
 {'name': 'KIT digital',
  'ipo': {'valuation_amount': 235000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2010,
   'pub_month': 7,
   'pub_day': 27,
   'stock_symbol': 'KITD'}},
 {'name': 'Nielsen',
  'ipo': {'valuation_amount': 1600000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2011,
   'pub_month': 1,
   'pub_day': 26,
   'stock_symbol': 'NYSE:NLSN'}},
 {'name': 'OpenTable',
  'ipo': {'valuation_amount': 1050000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2009,
   'pub_month': 5,
   'pub_day': 21,
   'stock_symbol': 'NASDAQ:OPEN'}},
 {'name': 'ChannelAdvisor',
  'ipo': {'valuation_amount': 287000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2013,
   'pub_month': 5,
   'pub_day': 23,
   'stock_symbol': 'NYSE:ECOM'}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [83]:
query5 = {"$and": [{"number_of_employees": {"$lt": 1000}}, {"founded_year":{"$lt": 2005}}]}
list(db["IRONHACK"].find(query5,{"_id":0,"name":1,"number_of_employees":1}))[:10]

[{'name': 'AdventNet', 'number_of_employees': 600},
 {'name': 'Digg', 'number_of_employees': 60},
 {'name': 'Fox Interactive Media', 'number_of_employees': 0},
 {'name': 'Plaxo', 'number_of_employees': 50},
 {'name': 'Technorati', 'number_of_employees': 35},
 {'name': 'AddThis', 'number_of_employees': 120},
 {'name': 'Meetup', 'number_of_employees': 75},
 {'name': 'SmugMug', 'number_of_employees': 62},
 {'name': 'Skype', 'number_of_employees': 0},
 {'name': 'Pando Networks', 'number_of_employees': 23}]

### 6. All the companies that don't include the `partners` field.

In [87]:
query6 = {"partners": {"$exists": "false"}}
list(db["IRONHACK"].find(query6,{"_id":0,"name":1}))[:10]

[{'name': 'Wetpaint'},
 {'name': 'AdventNet'},
 {'name': 'Zoho'},
 {'name': 'Digg'},
 {'name': 'Facebook'},
 {'name': 'Omnidrive'},
 {'name': 'Postini'},
 {'name': 'Geni'},
 {'name': 'Flektor'},
 {'name': 'Fox Interactive Media'}]

### 7. All the companies that have a null type of value on the `category_code` field.

In [89]:
query7 = {"category_code": {"$type": "null" }}
list(db["IRONHACK"].find(query7,{"_id":0,"name":1}))[:10]

[{'name': 'Collective'},
 {'name': 'Snimmer'},
 {'name': 'KoolIM'},
 {'name': 'Level9 Media'},
 {'name': 'VidKing'},
 {'name': 'Drigg'},
 {'name': 'SpaceTime'},
 {'name': 'Touch Clarity'},
 {'name': 'MMDAYS'},
 {'name': 'Inside Group'}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [90]:
query8 = {"number_of_employees": {"$gte" : 100, "$lt" : 1_000}}
list(db["IRONHACK"].find(query8,{"_id":0,"name":1,"number_of_employees":1}))[:10]

[{'name': 'AdventNet', 'number_of_employees': 600},
 {'name': 'AddThis', 'number_of_employees': 120},
 {'name': 'OpenX', 'number_of_employees': 305},
 {'name': 'LifeLock', 'number_of_employees': 644},
 {'name': 'Jajah', 'number_of_employees': 110},
 {'name': 'Livestream', 'number_of_employees': 120},
 {'name': 'Ustream', 'number_of_employees': 250},
 {'name': 'iContact', 'number_of_employees': 300},
 {'name': 'Yelp', 'number_of_employees': 800},
 {'name': 'Dailymotion', 'number_of_employees': 120}]

### 9. Order all the companies by their IPO price in a descending order.

In [105]:
project9 = {"_id": 0, "name":1,"ipo.valuation_amount":1}
list(db.IRONHACK.find({} , project9).sort("ipo.valuation_amount", -1))[:10]

[{'name': 'GREE', 'ipo': {'valuation_amount': 108960000000}},
 {'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000}},
 {'name': 'Amazon', 'ipo': {'valuation_amount': 100000000000}},
 {'name': 'Twitter', 'ipo': {'valuation_amount': 18100000000}},
 {'name': 'Groupon', 'ipo': {'valuation_amount': 12800000000}},
 {'name': 'Tencent', 'ipo': {'valuation_amount': 11000000000}},
 {'name': 'Western Digital', 'ipo': {'valuation_amount': 9430000000}},
 {'name': 'LinkedIn', 'ipo': {'valuation_amount': 9310000000}},
 {'name': 'BMC Software', 'ipo': {'valuation_amount': 6000000000}},
 {'name': 'Rackspace', 'ipo': {'valuation_amount': 5440000000}}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [106]:
project10 = {"_id": 0, "name":1,"number_of_employees":1}
list(db.IRONHACK.find({} , project9).sort("number_of_employees", -1))[:10]

[{'name': 'Siemens', 'ipo': {'valuation_amount': None}},
 {'name': 'IBM', 'ipo': {'valuation_amount': None}},
 {'name': 'Toyota'},
 {'name': 'PayPal'},
 {'name': 'Nippon Telegraph and Telephone Corporation'},
 {'name': 'Samsung Electronics'},
 {'name': 'Accenture', 'ipo': {'valuation_amount': None}},
 {'name': 'Tata Consultancy Services'},
 {'name': 'Flextronics International'},
 {'name': 'Safeway'}]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [91]:
query11 = {"founded_month": {"$gte": 6, "$lte": 12}}
list(db["IRONHACK"].find(query11,{"_id":0,"name":1,"founded_month":1}))[:10]

[{'name': 'Wetpaint', 'founded_month': 10},
 {'name': 'Zoho', 'founded_month': 9},
 {'name': 'Digg', 'founded_month': 10},
 {'name': 'Omnidrive', 'founded_month': 11},
 {'name': 'Postini', 'founded_month': 6},
 {'name': 'Geni', 'founded_month': 6},
 {'name': 'Fox Interactive Media', 'founded_month': 6},
 {'name': 'eBay', 'founded_month': 9},
 {'name': 'Joost', 'founded_month': 10},
 {'name': 'Plaxo', 'founded_month': 11}]

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [92]:
query12 = {"founded_year": {"$lt": 2_000}, "acquisition.price_amount": {"$gt": 10_000_000}}
list(db["IRONHACK"].find(query12,{"_id":0,"name":1}))[:10]

[{'name': 'Postini'},
 {'name': 'SideStep'},
 {'name': 'Recipezaar'},
 {'name': 'PayPal'},
 {'name': 'Snapfish'},
 {'name': 'Neopets'},
 {'name': 'Sun Microsystems'},
 {'name': 'Zappos'},
 {'name': 'Alibaba'},
 {'name': 'Sabre'}]

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [ ]:
filter14 = {"founded_year": {"$ne": None}}
project14 = {"_id": 0, "name": 1, "founded_year": 1}
query14 = list(db.companies.find(filter14, project14).sort("founded_year"))
query14[:5]

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [ ]:
# Your Code

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [ ]:
# Your Code

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [93]:
query17 = {"acquisition.price_amount": {"$gt": 10_000_000}, "acquisition.price_currency_code": "EUR"}
list(db["IRONHACK"].find(query17,{"_id":0,"name":1,"acquisition.price_amount":1}))[:10]

[{'name': 'ZYB', 'acquisition': {'price_amount': 31500000}},
 {'name': 'Apertio', 'acquisition': {'price_amount': 140000000}},
 {'name': 'Greenfield Online', 'acquisition': {'price_amount': 40000000}},
 {'name': 'Webedia', 'acquisition': {'price_amount': 70000000}},
 {'name': 'Wayfinder', 'acquisition': {'price_amount': 24000000}},
 {'name': 'Tuenti Technologies', 'acquisition': {'price_amount': 70000000}},
 {'name': 'BioMed Central', 'acquisition': {'price_amount': 43400000}}]

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [94]:
query18 = {"acquisition.acquired_month": {"$lte": 3}}
list(db["IRONHACK"].find(query18,{"_id":0,"name":1,"acquisition.price_amount":1}))[:10]

[{'name': 'Kyte', 'acquisition': {'price_amount': None}},
 {'name': 'NetRatings', 'acquisition': {'price_amount': 327000000}},
 {'name': 'blogTV', 'acquisition': {'price_amount': None}},
 {'name': 'Livestream', 'acquisition': {'price_amount': None}},
 {'name': 'iContact', 'acquisition': {'price_amount': 169000000}},
 {'name': 'Coghead', 'acquisition': {'price_amount': None}},
 {'name': 'Dailymotion', 'acquisition': {'price_amount': 168000000}},
 {'name': 'Netvibes', 'acquisition': {'price_amount': None}},
 {'name': 'Flickr', 'acquisition': {'price_amount': None}},
 {'name': 'BabyCenter', 'acquisition': {'price_amount': None}}]

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [ ]:
# Your Code

### 20. All the companies that have been 'deadpooled' after the third year.

In [ ]:
# Your Code