# Advanced Querying Mongo

Importing libraries and setting up connection

In [2]:
from pymongo import MongoClient
import pymongo
client = MongoClient()
client.ironhack

db = client.ironhack
db.companies

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'ironhack'), 'companies')

## He comentado algunos challenges o solo mostrado nombre y otra cosa para que no se vea muy largo todo.

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [19]:
list(db.companies.find({"name":"Babelgum"},{"name":1}))

[{'_id': ObjectId('52cdef7c4bab8bd675297da0'), 'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [93]:
result = list(db.companies.find({"number_of_employees": {"$gt": 5000}}, {"number_of_employees":1}, limit=20).sort("number_of_employees",-1))
result

[{'_id': ObjectId('52cdef7d4bab8bd67529941a'), 'number_of_employees': 405000},
 {'_id': ObjectId('52cdef7c4bab8bd67529856a'), 'number_of_employees': 388000},
 {'_id': ObjectId('52cdef7d4bab8bd675299d33'), 'number_of_employees': 320000},
 {'_id': ObjectId('52cdef7c4bab8bd675297e89'), 'number_of_employees': 300000},
 {'_id': ObjectId('52cdef7e4bab8bd67529b0fe'), 'number_of_employees': 227000},
 {'_id': ObjectId('52cdef7d4bab8bd675298aa4'), 'number_of_employees': 221726},
 {'_id': ObjectId('52cdef7d4bab8bd675298b99'), 'number_of_employees': 205000},
 {'_id': ObjectId('52cdef7e4bab8bd67529a657'), 'number_of_employees': 200300},
 {'_id': ObjectId('52cdef7e4bab8bd67529aa51'), 'number_of_employees': 200000},
 {'_id': ObjectId('52cdef7d4bab8bd675299156'), 'number_of_employees': 186000},
 {'_id': ObjectId('52cdef7c4bab8bd675297e6f'), 'number_of_employees': 180500},
 {'_id': ObjectId('52cdef7c4bab8bd675298517'), 'number_of_employees': 177000},
 {'_id': ObjectId('52cdef7d4bab8bd675299d31'), 'number_of_employees': 171000},
 {'_id': ObjectId('52cdef7d4bab8bd675298b28'), 'number_of_employees': 160000},
 {'_id': ObjectId('52cdef7e4bab8bd67529bb5c'), 'number_of_employees': 140000},
 {'_id': ObjectId('52cdef7c4bab8bd675297fc2'), 'number_of_employees': 125000},
 {'_id': ObjectId('52cdef7d4bab8bd675299bc3'), 'number_of_employees': 107000},
 {'_id': ObjectId('52cdef7d4bab8bd675299839'), 'number_of_employees': 107000},
 {'_id': ObjectId('52cdef7d4bab8bd675298d67'), 'number_of_employees': 100000},
 {'_id': ObjectId('52cdef7c4bab8bd6752987ad'), 'number_of_employees': 100000}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [49]:
a = list(db.companies.find({"founded_year":{"$gt":1999, "$lt":2006}},{"name":1 ,"founded_year": 1}))
a[0:5]

[{'_id': ObjectId('52cdef7c4bab8bd675297d8a'),
  'name': 'Wetpaint',
  'founded_year': 2005},
 {'_id': ObjectId('52cdef7c4bab8bd675297d8c'),
  'name': 'Zoho',
  'founded_year': 2005},
 {'_id': ObjectId('52cdef7c4bab8bd675297d8d'),
  'name': 'Digg',
  'founded_year': 2004},
 {'_id': ObjectId('52cdef7c4bab8bd675297d8e'),
  'name': 'Facebook',
  'founded_year': 2004},
 {'_id': ObjectId('52cdef7c4bab8bd675297d8f'),
  'name': 'Omnidrive',
  'founded_year': 2005}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [55]:
b=list(db.companies.find({"founded_year":{"$lt":2011}, "ipo.valuation_amount":{"$gt":100000000}}, {"name":1 , "ipo":1}))
b[0:2]

[{'_id': ObjectId('52cdef7c4bab8bd675297d8e'),
  'name': 'Facebook',
  'ipo': {'valuation_amount': 104000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 5,
   'pub_day': 18,
   'stock_symbol': 'NASDAQ:FB'}},
 {'_id': ObjectId('52cdef7c4bab8bd675297d94'),
  'name': 'Twitter',
  'ipo': {'valuation_amount': 18100000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2013,
   'pub_month': 11,
   'pub_day': 7,
   'stock_symbol': 'NYSE:TWTR'}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [94]:
### No me sale el SORT 
c = list(db.companies.find({"number_of_employees":{"$lt":1000},"founded_year":{"$lt":2005}}, limit=10).sort("number_of_employees", -1))
c[0:2]

[{'_id': ObjectId('52cdef7d4bab8bd675298933'),
  'name': 'Infinera Corporation',
  'permalink': 'infinera',
  'crunchbase_url': 'http://www.crunchbase.com/company/infinera',
  'homepage_url': 'http://www.infinera.com',
  'blog_url': '',
  'blog_feed_url': '',
  'twitter_username': 'InfineraCorp',
  'category_code': 'network_hosting',
  'number_of_employees': 974,
  'founded_year': 2000,
  'founded_month': None,
  'founded_day': None,
  'deadpooled_year': None,
  'deadpooled_month': None,
  'deadpooled_day': None,
  'deadpooled_url': None,
  'tag_list': None,
  'alias_list': 'Zepton Networks',
  'email_address': '',
  'phone_number': '408-572-5200',
  'description': 'Optical Networking Systems',
  'created_at': 'Tue Apr 29 19:43:09 UTC 2008',
  'updated_at': 'Tue Jan 10 22:07:21 UTC 2012',
  'overview': '<p>Infinera Corporation provides optical networking systems based on photonic integration technology in the United States. Its digital transport node (DTN) system utilizes the photonic integrated circuit (PIC) technology to enable digital processing and management of data with the capability to generate wavelength division multiplexing wavelengths and to add, drop, switch, manage, protect, and restore network traffic digitally. The company&#8217;s PICs transmit and receive 100 Gigabits per second of optical capacity and incorporate the functionality of approximately 60 discrete optical components into a pair of indium phosphide chips. The DTN System is used to enable optical to electrical to optical conversions at every network access point to provide communications service providers with the ability to digitally process the information being transported across their optical networks. It also offers a range of support offerings, including 24/7/365 hardware and software technical support, installation and deployment services, spares management, first line maintenance services, on-site technical services, professional services, product technical training, and extended product warranties. The company offers its products to operators of optical networks, including telecom carriers, cable operators, and Internet or content service providers. </p>\n\n<p>Infinera Corporation, formerly known as Zepton Networks, was founded in 2000 and is headquartered in Sunnyvale, California.</p>',
  'image': {'available_sizes': [[[150, 38],
     'assets/images/resized/0001/7822/17822v1-max-150x150.png'],
    [[191, 49], 'assets/images/resized/0001/7822/17822v1-max-250x250.png'],
    [[191, 49], 'assets/images/resized/0001/7822/17822v1-max-450x450.png']],
   'attribution': None},
  'products': [],
  'relationships': [{'is_past': False,
    'title': 'CEO',
    'person': {'first_name': 'Thomas',
     'last_name': 'Fallon',
     'permalink': 'thomas-fallon'}},
   {'is_past': False,
    'title': 'CEO',
    'person': {'first_name': 'Tom',
     'last_name': 'Fallon',
     'permalink': 'tom-fallon'}},
   {'is_past': False,
    'title': 'VP, Cable Sales',
    'person': {'first_name': 'Mike',
     'last_name': 'Kelly',
     'permalink': 'mike-kelly-2'}},
   {'is_past': False,
    'title': 'Board of Directors',
    'person': {'first_name': 'Kenneth',
     'last_name': 'Goldman',
     'permalink': 'kenneth-goldman'}},
   {'is_past': False,
    'title': '',
    'person': {'first_name': 'Sunny',
     'last_name': 'Sugaya',
     'permalink': 'sunny-sugaya'}},
   {'is_past': False,
    'title': 'Chairman of the Board',
    'person': {'first_name': 'Kambiz',
     'last_name': 'Hooshmand',
     'permalink': 'kambiz-hooshmand'}},
   {'is_past': False,
    'title': 'Board Member',
    'person': {'first_name': 'T.J.',
     'last_name': 'Rodgers',
     'permalink': 't-j-rodgers'}},
   {'is_past': False,
    'title': 'Director',
    'person': {'first_name': 'Phil',
     'last_name': 'Koen',
     'permalink': 'phil-koen'}},
   {'is_past': False,
    'title': 'Investor',
    'person': {'first_name': 'Julien',
     'last_name': 'Nguyen',
     'permalink': 'julien-nguyen'}},
   {'is_past': True,
    'title': 'Vice President Sales EMEA',
    'person': {'first_name': 'Tom',
     'last_name': 'Schmitt',
     'permalink': 'tom-schmitt'}},
   {'is_past': True,
    'title': 'Advisor',
    'person': {'first_name': 'Steve',
     'last_name': "O'Hara",
     'permalink': 'steve-ohara'}},
   {'is_past': True,
    'title': 'Manufacturing Controller',
    'person': {'first_name': 'John',
     'last_name': 'Nadaskay',
     'permalink': 'john-nadaskay'}},
   {'is_past': True,
    'title': 'Board Member',
    'person': {'first_name': 'Tom',
     'last_name': 'Mawhinney',
     'permalink': 'tom-mawhinney'}},
   {'is_past': True,
    'title': 'Board of Directors',
    'person': {'first_name': 'Jim',
     'last_name': 'White',
     'permalink': 'jim-white'}},
   {'is_past': True,
    'title': 'Investor',
    'person': {'first_name': 'Christopher',
     'last_name': 'Lucas',
     'permalink': 'christopher-lucas'}},
   {'is_past': True,
    'title': 'Manager, PIC Process Interaction',
    'person': {'first_name': 'Gang',
     'last_name': 'He',
     'permalink': 'gang-he'}},
   {'is_past': True,
    'title': 'Software Engineer',
    'person': {'first_name': 'Vinodh',
     'last_name': 'Kumar',
     'permalink': 'vinodh-kumar-2'}},
   {'is_past': True,
    'title': 'investments',
    'person': {'first_name': 'Peter',
     'last_name': 'Wagner',
     'permalink': 'peter-wagner'}},
   {'is_past': True,
    'title': 'Engineering',
    'person': {'first_name': 'Rob',
     'last_name': 'Stone',
     'permalink': 'rob-stone'}}],
  'competitions': [],
  'providerships': [],
  'total_money_raised': '$0',
  'funding_rounds': [],
  'investments': [],
  'acquisition': None,
  'acquisitions': [],
  'offices': [{'description': 'Headquarters',
    'address1': '169 Java Drive',
    'address2': '',
    'zip_code': '94089',
    'city': 'Sunnyvale',
    'state_code': 'CA',
    'country_code': 'USA',
    'latitude': 37.411877,
    'longitude': -122.018277}],
  'milestones': [{'id': 20267,
    'description': 'Infinera PICs Surpass 500 Million Hours of Failure-Free Operation Latest Milestones Reaffirm PIC Reliability',
    'stoned_year': 2011,
    'stoned_month': 4,
    'stoned_day': 3,
    'source_url': 'http://www.live-pr.com/en/infinera-pics-surpass-500-million-hours-r1048777717.htm',
    'source_text': '',
    'source_description': 'Infinera PICs Surpass 500 Million Hours of Failure-Free Operation Latest Milestones Reaffirm PIC Reliability',
    'stoneable_type': 'Company',
    'stoned_value': None,
    'stoned_value_type': None,
    'stoned_acquirer': None,
    'stoneable': {'name': 'Infinera Corporation', 'permalink': 'infinera'}}],
  'ipo': {'valuation_amount': None,
   'valuation_currency_code': 'USD',
   'pub_year': 2007,
   'pub_month': 6,
   'pub_day': 7,
   'stock_symbol': 'INFN'},
  'video_embeds': [],
  'screenshots': [{'available_sizes': [[[150, 112],
      'assets/images/resized/0016/9559/169559v1-max-150x150.jpg'],
     [[250, 187], 'assets/images/resized/0016/9559/169559v1-max-250x250.jpg'],
     [[450, 338], 'assets/images/resized/0016/9559/169559v1-max-450x450.jpg']],
    'attribution': None}],
  'external_links': [],
  'partners': []},
 {'_id': ObjectId('52cdef7e4bab8bd67529ac95'),
  'name': 'NorthPoint Communications Group',
  'permalink': 'northpoint-communications-group',
  'crunchbase_url': 'http://www.crunchbase.com/company/northpoint-communications-group',
  'homepage_url': '',
  'blog_url': '',
  'blog_feed_url': '',
  'twitter_username': '',
  'category_code': 'network_hosting',
  'number_of_employees': 948,
  'founded_year': 1997,
  'founded_month': None,
  'founded_day': None,
  'deadpooled_year': None,
  'deadpooled_month': None,
  'deadpooled_day': None,
  'deadpooled_url': None,
  'tag_list': None,
  'alias_list': '',
  'email_address': '',
  'phone_number': '415-403-4003',
  'description': 'data transport services',
  'created_at': 'Fri Jan 16 03:27:17 UTC 2009',
  'updated_at': 'Sun Jun 20 20:07:21 UTC 2010',
  'overview': '<p>NorthPoint Communications Group, Inc. provided high speed network and data transport services, allowing Internet service providers, broadband data service providers, and long distance and local phone companies to meet the information needs of small and medium-sized businesses, people who work in home offices, and telecommuters, as of September 2000. On June 12, 2001, the voluntary petition of Northpoint Communications Group, Inc. for reorganization under Chapter 11 was converted to Chapter 7. It had filed for Chapter 11 bankruptcy on January 16, 2001.</p>',
  'image': None,
  'products': [],
  'relationships': [{'is_past': True,
    'title': 'SVP, Business Development and Interim CEO, VersaPoint',
    'person': {'first_name': 'Ray',
     'last_name': 'Solnik',
     'permalink': 'ray-solnik'}},
   {'is_past': True,
    'title': 'Interim CEO-VersaPoint JV, SVP Business Development',
    'person': {'first_name': 'Ray',
     'last_name': 'Solnik',
     'permalink': 'ray-solnik'}},
   {'is_past': True,
    'title': 'CMO & EVPof  Sales',
    'person': {'first_name': 'Shellye',
     'last_name': 'Archambeau',
     'permalink': 'shellye-archambeau'}},
   {'is_past': True,
    'title': 'Vice President Engineering & Operations',
    'person': {'first_name': 'John',
     'last_name': 'Karsner',
     'permalink': 'john-karsner-2'}},
   {'is_past': True,
    'title': 'Director, Value Added Services',
    'person': {'first_name': 'Crick',
     'last_name': 'Waters',
     'permalink': 'crick-waters'}},
   {'is_past': True,
    'title': '',
    'person': {'first_name': 'George',
     'last_name': 'Hu',
     'permalink': 'george-hu'}},
   {'is_past': True,
    'title': 'Director - Corporate Development',
    'person': {'first_name': 'Gary',
     'last_name': 'Hagmueller',
     'permalink': 'gary-hagmueller'}},
   {'is_past': True,
    'title': 'investments',
    'person': {'first_name': 'Peter',
     'last_name': 'Wagner',
     'permalink': 'peter-wagner'}},
   {'is_past': True,
    'title': 'VP, Marketing',
    'person': {'first_name': 'Debbie',
     'last_name': 'Jo Severin',
     'permalink': 'debbie-jo-severin'}},
   {'is_past': True,
    'title': '',
    'person': {'first_name': 'Dave',
     'last_name': 'Rosenberg',
     'permalink': 'dave-rosenberg'}},
   {'is_past': True,
    'title': 'Director, Product Management',
    'person': {'first_name': 'Frank',
     'last_name': 'Cabri',
     'permalink': 'frank-cabri'}},
   {'is_past': True,
    'title': 'corporate planning, M&A, and investor relations',
    'person': {'first_name': 'Alan',
     'last_name': 'Priest',
     'permalink': 'alan-priest'}},
   {'is_past': True,
    'title': 'Online Marketing Manager',
    'person': {'first_name': 'Daniel',
     'last_name': 'Lizio-Katzen',
     'permalink': 'daniel-lizio-katzen'}}],
  'competitions': [],
  'providerships': [],
  'total_money_raised': '$0',
  'funding_rounds': [],
  'investments': [],
  'acquisition': None,
  'acquisitions': [],
  'offices': [{'description': 'HQ',
    'address1': '303 Second Street',
    'address2': 'South Tower',
    'zip_code': '94107',
    'city': 'San Francisco',
    'state_code': 'CA',
    'country_code': 'USA',
    'latitude': None,
    'longitude': None}],
  'milestones': [],
  'ipo': None,
  'video_embeds': [],
  'screenshots': [],
  'external_links': [],
  'partners': []}]

### 6. All the companies that don't include the `partners` field.

In [74]:
list(db.companies.find({"partners":0}))

[]

### 7. All the companies that have a null type of value on the `category_code` field.

In [75]:
list(db.companies.find({"category_code":{"$eq": "null"}}))

[]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [78]:
d =list(db.companies.find({"number_of_employees":{"$gt":100, "$lt":1000}},{"name":1, "number_of_employees":1}))
d[0:2]

[{'_id': ObjectId('52cdef7c4bab8bd675297d8b'),
  'name': 'AdventNet',
  'number_of_employees': 600},
 {'_id': ObjectId('52cdef7c4bab8bd675297da7'),
  'name': 'AddThis',
  'number_of_employees': 120}]

### 9. Order all the companies by their IPO price in a descending order.

In [132]:
e = list(db.companies.find({"ipo.valuation_amount": {"$gt":1}}).sort("ipo.valuation_amount", -1 ))
#e[0:2]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [99]:
list(db.companies.find({"number_of_employees":{"$gt":1}},{"name":1,"number_of_employees":1}, limit=10).sort("number_of_employees",-1))

[{'_id': ObjectId('52cdef7d4bab8bd67529941a'),
  'name': 'Siemens',
  'number_of_employees': 405000},
 {'_id': ObjectId('52cdef7c4bab8bd67529856a'),
  'name': 'IBM',
  'number_of_employees': 388000},
 {'_id': ObjectId('52cdef7d4bab8bd675299d33'),
  'name': 'Toyota',
  'number_of_employees': 320000},
 {'_id': ObjectId('52cdef7c4bab8bd675297e89'),
  'name': 'PayPal',
  'number_of_employees': 300000},
 {'_id': ObjectId('52cdef7e4bab8bd67529b0fe'),
  'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'_id': ObjectId('52cdef7d4bab8bd675298aa4'),
  'name': 'Samsung Electronics',
  'number_of_employees': 221726},
 {'_id': ObjectId('52cdef7d4bab8bd675298b99'),
  'name': 'Accenture',
  'number_of_employees': 205000},
 {'_id': ObjectId('52cdef7e4bab8bd67529a657'),
  'name': 'Tata Consultancy Services',
  'number_of_employees': 200300},
 {'_id': ObjectId('52cdef7e4bab8bd67529aa51'),
  'name': 'Flextronics International',
  'number_of_employees': 200000},
 {'_id': ObjectId('52cdef7d4bab8bd675299156'),
  'name': 'Safeway',
  'number_of_employees': 186000}]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [105]:
f = list(db.companies.find({"founded_month":{"$gt":5}},{"founded_month":1,"name":1}, limit=1000))
f[0:3]

[{'_id': ObjectId('52cdef7c4bab8bd675297d8a'),
  'name': 'Wetpaint',
  'founded_month': 10},
 {'_id': ObjectId('52cdef7c4bab8bd675297d8c'),
  'name': 'Zoho',
  'founded_month': 9},
 {'_id': ObjectId('52cdef7c4bab8bd675297d8d'),
  'name': 'Digg',
  'founded_month': 10}]

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [108]:
g =list(db.companies.find({"founded_year":{"$lt":2000},"acquisition.price_amount":{"$gt":10000000}},{"name":1,"acquisition.price_amount":1,"founded_year":1}))
g[0:3]

[{'_id': ObjectId('52cdef7c4bab8bd675297d90'),
  'name': 'Postini',
  'founded_year': 1999,
  'acquisition': {'price_amount': 625000000}},
 {'_id': ObjectId('52cdef7c4bab8bd675297deb'),
  'name': 'SideStep',
  'founded_year': 1999,
  'acquisition': {'price_amount': 180000000}},
 {'_id': ObjectId('52cdef7c4bab8bd675297e2c'),
  'name': 'Recipezaar',
  'founded_year': 1999,
  'acquisition': {'price_amount': 25000000}}]

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [110]:
h =list(db.companies.find({"acquisition.acquired_year":{"$gt":2010}},{"name":1,"acquisition":1}).sort("acquisition.price_amount",-1))
h[0:4]

[{'_id': ObjectId('52cdef7c4bab8bd675298876'),
  'name': 'T-Mobile',
  'acquisition': {'price_amount': 39000000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2011/03/20/in-the-race-for-more-spectrum-att-is-acquiring-t-mobile-for-39-billion/',
   'source_description': 'In The Race For More Spectrum, AT&T Is Acquiring T-Mobile For $39 Billion',
   'acquired_year': 2011,
   'acquired_month': 3,
   'acquired_day': 20,
   'acquiring_company': {'name': 'AT&T', 'permalink': 'at-t'}}},
 {'_id': ObjectId('52cdef7f4bab8bd67529c228'),
  'name': 'Goodrich Corporation',
  'acquisition': {'price_amount': 18400000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://www.masshightech.com/stories/2011/09/19/daily37-UTC-shells-out-184-billion-for-Goodrich.html',
   'source_description': 'UTC shells out $18.4 billion for Goodrich',
   'acquired_year': 2011,
   'acquired_month': 9,
   'acquired_day': 22,
   'acquiring_company': {'name': 'United Technologies',
    'permalink': 'united-technologies'}}},
 {'_id': ObjectId('52cdef7d4bab8bd675298b89'),
  'name': 'LSI',
  'acquisition': {'price_amount': 6600000000,
   'price_currency_code': 'USD',
   'term_code': 'cash',
   'source_url': 'http://dealbook.nytimes.com/2013/12/16/avago-to-buy-lsi-for-6-6-billion/?_r=0',
   'source_description': 'Avago to Buy LSI for $6.6 Billion',
   'acquired_year': 2013,
   'acquired_month': 12,
   'acquired_day': 16,
   'acquiring_company': {'name': 'Avago Technologies',
    'permalink': 'avago-technologies'}}},
 {'_id': ObjectId('52cdef7e4bab8bd67529a2b5'),
  'name': 'National Semiconductor',
  'acquisition': {'price_amount': 6500000000,
   'price_currency_code': 'USD',
   'term_code': 'cash',
   'source_url': 'http://www.national.com/news/item/0,1735,1522,00.html',
   'source_description': 'TI to acquire National Semiconductor Complementary portfolios are foundation for growth',
   'acquired_year': 2011,
   'acquired_month': 4,
   'acquired_day': 4,
   'acquiring_company': {'name': 'Texas Instruments',
    'permalink': 'texas-instruments'}}}]

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [113]:
g = list(db.companies.find({"founded_year":{"$gt":1}},{"name":1, "founded_year":1}).sort("founded_year",1))
g[0:4]

[{'_id': ObjectId('52cdef7c4bab8bd675297e8f'),
  'name': 'Alstrasoft',
  'founded_year': 1800},
 {'_id': ObjectId('52cdef7d4bab8bd675298b5a'),
  'name': 'SmallWorlds',
  'founded_year': 1800},
 {'_id': ObjectId('52cdef7e4bab8bd67529b1bc'),
  'name': 'US Army',
  'founded_year': 1800},
 {'_id': ObjectId('52cdef7f4bab8bd67529c453'),
  'name': 'DuPont',
  'founded_year': 1802}]

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [116]:
list(db.companies.find({"founded_day":{"$lt":8}},{"name":1,"founded_day":1,"acquisition.price_amount":1}, limit=10).sort("acquisition.price_amount",-1))

[{'_id': ObjectId('52cdef7d4bab8bd6752989a1'),
  'name': 'Netscape',
  'founded_day': 4,
  'acquisition': {'price_amount': 4200000000}},
 {'_id': ObjectId('52cdef7c4bab8bd675297e89'),
  'name': 'PayPal',
  'founded_day': 1,
  'acquisition': {'price_amount': 1500000000}},
 {'_id': ObjectId('52cdef7c4bab8bd675297efe'),
  'name': 'Zappos',
  'founded_day': 1,
  'acquisition': {'price_amount': 1200000000}},
 {'_id': ObjectId('52cdef7c4bab8bd675297f0c'),
  'name': 'Alibaba',
  'founded_day': 1,
  'acquisition': {'price_amount': 1000000000}},
 {'_id': ObjectId('52cdef7c4bab8bd675297d90'),
  'name': 'Postini',
  'founded_day': 2,
  'acquisition': {'price_amount': 625000000}},
 {'_id': ObjectId('52cdef7c4bab8bd67529831c'),
  'name': 'Danger',
  'founded_day': 1,
  'acquisition': {'price_amount': 500000000}},
 {'_id': ObjectId('52cdef7c4bab8bd675298651'),
  'name': 'Clearwell Systems',
  'founded_day': 6,
  'acquisition': {'price_amount': 410000000}},
 {'_id': ObjectId('52cdef7d4bab8bd6752989b8'),
  'name': 'PrimeSense',
  'founded_day': 1,
  'acquisition': {'price_amount': 345000000}},
 {'_id': ObjectId('52cdef7c4bab8bd675298207'),
  'name': 'Amobee',
  'founded_day': 1,
  'acquisition': {'price_amount': 321000000}},
 {'_id': ObjectId('52cdef7c4bab8bd675298095'),
  'name': 'Vitrue',
  'founded_day': 1,
  'acquisition': {'price_amount': 300000000}}]

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [133]:
p = list(db.companies.find({"category_code":"web", "number_of_employees":{"$lt":4000}}).sort("number_of_employee",-1))
#p[0:2]

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [7]:
#algo as√≠ creo que es , pero no me sale en Compass

##{$and: [{"acquisition.price_amount":{"$gt":10000000}},{"price_currency_code":EUR}]

r = list(db.companies.find({"acquisition.price_amount":{"$gt":10000000}},{"price_currency_code":"EUR"}))
r[0:2]

[{'_id': ObjectId('52cdef7c4bab8bd675297d8a'), 'price_currency_code': 'EUR'},
 {'_id': ObjectId('52cdef7c4bab8bd675297d90'), 'price_currency_code': 'EUR'}]

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [131]:
list(db.companies.find({"acquired_month":{"$lt":4}},{"name":1,"acquisition":1}, limit=10))

[]

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [ ]:
# Your Code

### 20. All the companies that have been 'deadpooled' after the third year.

In [ ]:
# Your Code