# Advanced Querying Mongo

Importing libraries and setting up connection

In [1]:
import os

In [2]:
unzip = f'tar -xzvf ../Crunchbase\ Dataset.zip'

In [3]:
os.system(unzip)

256

In [4]:
delete = f'rm -rf ../Crunchbase\ Dataset.zip'

In [5]:
os.system(delete)

0

In [6]:
from pymongo import MongoClient

In [7]:
client = MongoClient()

In [8]:
db = client.crunchbase

In [9]:
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'crunchbase')

In [10]:
# from pymongo import MongoClient
# client = MongoClient("")

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [11]:
# Your Code
names= {"name":{"$eq":"Babelgum"}}
list(db.companies.find(names, {"_id":0, "name":1}))

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [97]:
# Your Code
filt = {"number_of_employees":{"$gt": 5000}}
project = {"name":1, "_id":0} 
results = db.companies.find(filt, project).limit(20)

list(results[:5])

[{'name': 'Facebook'},
 {'name': 'eBay'},
 {'name': 'Cisco'},
 {'name': 'Yahoo!'},
 {'name': 'Google'}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [13]:
# Your Code

In [14]:
project = {"_id":0, "name":1}
filt= {"founded_year": {"$gte":2000,"$lte":2005}}
results = db.companies.find(filt, project)
list(results[:5])

[{'name': 'Wetpaint'},
 {'name': 'Zoho'},
 {'name': 'Digg'},
 {'name': 'Facebook'},
 {'name': 'Omnidrive'}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [98]:
# Your Code
query = {"founded_year": {"$lt":2010}, "ipo.valuation_amount": {"$gt": 100000000}}
project = {"_id":0, "name":1, "ipo":1}
results = db.companies.find(query, project)
list(results[:1])

[{'name': 'Facebook',
  'ipo': {'valuation_amount': 104000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 5,
   'pub_day': 18,
   'stock_symbol': 'NASDAQ:FB'}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [99]:
# Your Code
query = {"founded_year": {"$lt": 2005}, "number_of_employees":{"$lt": 1000}}
project = {"_id": 0, "name":1}
results = db.companies.find(query, project).sort("number_of_employees", 1).limit(10)
list(results[:5])

[{'name': 'Fox Interactive Media'},
 {'name': 'MindTouch'},
 {'name': 'Ticketmaster'},
 {'name': 'stylediary'},
 {'name': 'Skype'}]

### 6. All the companies that don't include the `partners` field.

In [17]:
# Your Code
results = db.companies.find({"_id":{"$nin":["partners"]}},{"_id":0, "name":1})
list(results[:5])

[{'name': 'Wetpaint'},
 {'name': 'AdventNet'},
 {'name': 'Zoho'},
 {'name': 'Digg'},
 {'name': 'Facebook'}]

### 7. All the companies that have a null type of value on the `category_code` field.

In [18]:
# Your Code
query = list(db.companies.find({"category_code":None}, {"_id":0, "name":1})) 
                           
query[:5]

[{'name': 'Collective'},
 {'name': 'Snimmer'},
 {'name': 'KoolIM'},
 {'name': 'Level9 Media'},
 {'name': 'VidKing'}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [19]:
# Your Code
query = {"number_of_employees":{"$lt": 1000, "$gte":100}}
project= {"_id":0, "name":1, "number_of_employees":1}
result=db.companies.find(query, project).sort("number_of_employees", 1)            
list(result[:5])

[{'name': 'Redfin', 'number_of_employees': 100},
 {'name': 'mig33', 'number_of_employees': 100},
 {'name': 'INgage Networks', 'number_of_employees': 100},
 {'name': 'hi5', 'number_of_employees': 100},
 {'name': 'Simply Hired', 'number_of_employees': 100}]

### 9. Order all the companies by their IPO price in a descending order.

In [100]:
# Your Code
filt = {"ipo.valuation_amount":{"$exists":"ipo.valuation_amount"}}
project = {"_id":0,"name":1,"ipo.valuation_amount":1}
results = db.companies.find(filt, project).sort("ipo.valuation_amount", -1).limit(10)
list(results[:5])

[{'name': 'GREE', 'ipo': {'valuation_amount': 108960000000}},
 {'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000}},
 {'name': 'Amazon', 'ipo': {'valuation_amount': 100000000000}},
 {'name': 'Twitter', 'ipo': {'valuation_amount': 18100000000}},
 {'name': 'Groupon', 'ipo': {'valuation_amount': 12800000000}}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [101]:
# Your Code

project = {"_id":0, "name":1}
filt = {"number_of_employees":{"$exists":"number_of_employees"}}
result = db.companies.find(filt, project).sort("number_of_employees", -1).limit(10)
list(result[:5])

[{'name': 'Siemens'},
 {'name': 'IBM'},
 {'name': 'Toyota'},
 {'name': 'PayPal'},
 {'name': 'Nippon Telegraph and Telephone Corporation'}]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [35]:
# Your Code
filt = {"founded_month":{"$gte": 2, "$lte":6}}
project = {"_id": 0, "name": 1, "founded_month":1}
result = db.companies.find(filt, project).sort("founded_month", 1).limit(1000)
list(result[:5])

[{'name': 'StumbleUpon', 'founded_month': 2},
 {'name': 'YouTube', 'founded_month': 2},
 {'name': 'Prosper', 'founded_month': 2},
 {'name': 'Facebook', 'founded_month': 2},
 {'name': 'Helio', 'founded_month': 2}]

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [45]:
# Your Code
query = {"founded_year": {"$lt":2000}, "acquisition.price_amount": {"$gt": 1000000}}
        
        
project = {"_id": 0, "name":1}
result = db.companies.find(query, project)
list(result[:4])

[{'name': 'Postini'},
 {'name': 'SideStep'},
 {'name': 'Recipezaar'},
 {'name': 'Cyworld'}]

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [103]:
# Your Code
filt = {"acquisition.acquired_year": {"$lt":2010}}
project = {"_id":0, "name":1, "acquisition":1}
result = db.companies.find(filt, project).sort("acquisition.price_amount")
list(result[:1])

[{'name': 'Gizmoz',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://www.gizmoz.com',
   'source_description': 'TechCrunch',
   'acquired_year': 2009,
   'acquired_month': 12,
   'acquired_day': 15,
   'acquiring_company': {'name': 'Daz 3d', 'permalink': 'daz-3d'}}}]

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [60]:
# Your Code
filt = {"founded_year":{"$exists":["founded_year"]}}
project = {"_id":0, "name":1, "founded_year": 1}
result = db.companies.find(filt,project).sort("founded_year", -1)

list(result[:4])

[{'name': 'Wamba', 'founded_year': 2013},
 {'name': 'Fluc', 'founded_year': 2013},
 {'name': 'Advaliant', 'founded_year': 2013},
 {'name': 'Fixya', 'founded_year': 2013}]

In [67]:
filt = { "founded_year" : {"$nin":["None"]}}
project = {"_id":0, "name":1, "founded_year": 1}
result = db.companies.find(filt,project).sort("founded_year", 1)

list(result[:4])

[{'name': 'Flektor'},
 {'name': 'Gannett'},
 {'name': 'SpinVox'},
 {'name': 'Lala'}]

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [104]:
# Your Code

filt = {"founded_day": {"$lte": 7, "$gte":1}}
project = {"_id": 0, "name":1}
result = db.companies.find(filt, project).sort("acquisition.price_amount").limit(10)
list(result[:5])

[{'name': 'Facebook'},
 {'name': 'Gizmoz'},
 {'name': 'Omnidrive'},
 {'name': 'Fox Interactive Media'},
 {'name': 'Geni'}]

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [105]:
# Your Code
filt = {"category_code": {"$eq": "web"}, "number_of_employees":{"$gt": 4000}}
project = {"_id": 0, "name": 1}
results = db.companies.find(filt, project).sort("number_of_employees")
list(results[:5])

[{'name': 'Expedia'},
 {'name': 'AOL'},
 {'name': 'Webkinz'},
 {'name': 'Los Angeles Times Media Group'},
 {'name': 'Rakuten'}]

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [106]:
# Your Code
filt ={"acquisition.price_amount": {"$gt": 10000000}, "acquisition.price_currency_code": {"$eq": "EUR"}}
project = {"_id": 0, "name": 1}
results = db.companies.find(filt, project)
list(results[:5])

[{'name': 'ZYB'},
 {'name': 'Apertio'},
 {'name': 'Greenfield Online'},
 {'name': 'Webedia'},
 {'name': 'Wayfinder'}]

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [86]:
# Your Code
filt =  {"acquisition.acquired_month":{"$lte":3}}
project = {"_id": 0, "name": 1, "acquisition":1}
results = db.companies.find(filt, project).limit(10)
list(results[:1])

[{'name': 'Kyte',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2011/01/31/exclusive-kit-digital-acquires-kickapps-kewego-and-kyte-for-77-2-million/',
   'source_description': 'KIT digital Acquires KickApps, Kewego AND Kyte For $77.2 Million',
   'acquired_year': 2011,
   'acquired_month': 1,
   'acquired_day': 31,
   'acquiring_company': {'name': 'KIT digital', 'permalink': 'kit-digital'}}}]

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [93]:
# Your Code
filt = {"founded_year": {"$lte": 2010, "$gte": 2000},"acquisition.acquired_year":{"$gt": 2011}}
project = {"_id": 0, "name": 1, "founded_year": 1, "acquisition.acquired_year":1}
results = db.companies.find(filt, project).sort("acquisition.acquired_year").limit(10)
list(results[:5])

[{'name': 'Geni',
  'founded_year': 2006,
  'acquisition': {'acquired_year': 2012}},
 {'name': 'KickApps',
  'founded_year': 2004,
  'acquisition': {'acquired_year': 2012}},
 {'name': 'iContact',
  'founded_year': 2003,
  'acquisition': {'acquired_year': 2012}},
 {'name': 'Revision3',
  'founded_year': 2005,
  'acquisition': {'acquired_year': 2012}},
 {'name': 'Digg',
  'founded_year': 2004,
  'acquisition': {'acquired_year': 2012}}]

### 20. All the companies that have been 'deadpooled' after the third year.

In [96]:
# Your Code
filt = {"deadpooled_year": {"$gt":3}}
project = {"_id": 0, "name": 1, "deadpooled_year":1}
results = db.companies.find(filt, project).limit(10)
list(results[:5])

[{'name': 'Omnidrive', 'deadpooled_year': 2008},
 {'name': 'Babelgum', 'deadpooled_year': 2013},
 {'name': 'Sparter', 'deadpooled_year': 2008},
 {'name': 'Thoof', 'deadpooled_year': 2013},
 {'name': 'Mercora', 'deadpooled_year': 2008}]