# Advanced Querying Mongo

Importing libraries and setting up connection

In [1]:
from pymongo import MongoClient
client = MongoClient("mongodb://localhost:27017/ironhack")
db = client.get_database()

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [2]:
# Your Code
query = {"name" : {"$eq" : "Babelgum"}}
list(db["companies"].find(query,{"_id":0, "name":1}))

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [3]:
# Your Code
query2 = {"number_of_employees" : {"$gt" : 5000}}
project = {"_id":0, "name":1}
result = db["companies"].find(query2,project).sort("number_of_employees",-1).limit(20)

In [4]:
results = list (result)
results

[{'name': 'Siemens'},
 {'name': 'IBM'},
 {'name': 'Toyota'},
 {'name': 'PayPal'},
 {'name': 'Nippon Telegraph and Telephone Corporation'},
 {'name': 'Samsung Electronics'},
 {'name': 'Accenture'},
 {'name': 'Tata Consultancy Services'},
 {'name': 'Flextronics International'},
 {'name': 'Safeway'},
 {'name': 'Sony'},
 {'name': 'LG'},
 {'name': 'Ford'},
 {'name': 'Boeing'},
 {'name': 'Digital Equipment Corporation'},
 {'name': 'Nokia'},
 {'name': 'MItsubishi Electric'},
 {'name': 'MItsubishi Electric'},
 {'name': 'Bertelsmann'},
 {'name': 'Comcast'}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [5]:
# Your Code
query3 = {"founded_year":{"$gte":2000,"$lte":2005}}
project = {"_id":0, "name":1, "founded_year":1}
result = db["companies"].find(query3,project)

In [6]:
result = list (result)

In [7]:
result[:3]

[{'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Zoho', 'founded_year': 2005},
 {'name': 'Digg', 'founded_year': 2004}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [8]:
# Your Code
query4 = {"founded_year":{"$lt":2011}, "ipo.valuation_amount":{"$gt":100000000}}
project = {"name":1 , "ipo":1, "_id":0}
result = db["companies"].find(query4,project)
list(result)[:3]

[{'name': 'Facebook',
  'ipo': {'valuation_amount': 104000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 5,
   'pub_day': 18,
   'stock_symbol': 'NASDAQ:FB'}},
 {'name': 'Twitter',
  'ipo': {'valuation_amount': 18100000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2013,
   'pub_month': 11,
   'pub_day': 7,
   'stock_symbol': 'NYSE:TWTR'}},
 {'name': 'Yelp',
  'ipo': {'valuation_amount': 1300000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 3,
   'pub_day': 2,
   'stock_symbol': 'NYSE:YELP'}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [9]:
# Your Code
query5 = {"number_of_employees" : {"$lt" : 1000},"founded_year":{"$lte":2005} }
project = {"_id":0, "name":1}
result = db["companies"].find(query5,project).sort("number_of_employees",-1).limit(10)
list (result)

[{'name': 'Infinera Corporation'},
 {'name': 'Box'},
 {'name': 'NorthPoint Communications Group'},
 {'name': '888 Holdings'},
 {'name': 'Forrester Research'},
 {'name': 'SonicWALL'},
 {'name': 'Webmetrics'},
 {'name': 'Workday'},
 {'name': 'Cornerstone OnDemand'},
 {'name': 'Mozilla'}]

### 6. All the companies that don't include the `partners` field.

In [10]:
# Your Code
query6 = {"partners":{"$size":0}}
project = {"_id":0, "name":1}
result = db["companies"].find(query6,project)
list (result)[:3]

[{'name': 'Wetpaint'}, {'name': 'AdventNet'}, {'name': 'Zoho'}]

### 7. All the companies that have a null type of value on the `category_code` field.

In [11]:
# Your Code
query7 = {"category_code":None}
project = {"_id":0, "name":1}
result = db["companies"].find(query7,project)
list (result)[:3]

[{'name': 'Collective'}, {'name': 'Snimmer'}, {'name': 'KoolIM'}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [12]:
# Your Code
query7 = {"number_of_employees" : {"$gte" : 100, "$lt" : 1000}}
project = {"_id":0, "name":1, "number_of_employees" :1 }
result = db["companies"].find(query7,project)
list (result)[:3]

[{'name': 'AdventNet', 'number_of_employees': 600},
 {'name': 'AddThis', 'number_of_employees': 120},
 {'name': 'OpenX', 'number_of_employees': 305}]

### 9. Order all the companies by their IPO price in a descending order.

In [13]:
# Your Code
query9 = {}
project = {"name":1 , "ipo":1, "_id":0}
result = db["companies"].find(query9,project).sort("ipo.valuation_amount",-1)
list(result)[:3]

[{'name': 'GREE',
  'ipo': {'valuation_amount': 108960000000,
   'valuation_currency_code': 'JPY',
   'pub_year': 2008,
   'pub_month': 12,
   'pub_day': 17,
   'stock_symbol': '3632'}},
 {'name': 'Facebook',
  'ipo': {'valuation_amount': 104000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 5,
   'pub_day': 18,
   'stock_symbol': 'NASDAQ:FB'}},
 {'name': 'Amazon',
  'ipo': {'valuation_amount': 100000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 1997,
   'pub_month': 5,
   'pub_day': None,
   'stock_symbol': 'NASDAQ:AMZN'}}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [14]:
# Your Code
query10 = {}
project = {"_id":0, "name":1, "number_of_employees" :1 }
result = db["companies"].find(query10,project).sort("number_of_employees" ,-1).limit(10)
list (result)

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000}]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [19]:
# Your Code
query11 = {"founded_month" : {"$gt" : 7}}
project = {"_id":0, "name":1}
result = db["companies"].find(query11,project).limit(1000)
list (result)[:3]

[{'name': 'Wetpaint'}, {'name': 'Zoho'}, {'name': 'Digg'}]

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [22]:
# Your Code

query12 = {"acquisition.price_amount" : {"$gt" : 10000000},"founded_year":{"$lt":2000} }
project = {"_id":0, "name":1}
result = db["companies"].find(query12,project)
list (result)[:10]

[{'name': 'Postini'},
 {'name': 'SideStep'},
 {'name': 'Recipezaar'},
 {'name': 'PayPal'},
 {'name': 'Snapfish'},
 {'name': 'Neopets'},
 {'name': 'Sun Microsystems'},
 {'name': 'Zappos'},
 {'name': 'Alibaba'},
 {'name': 'Sabre'}]

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [25]:
# Your Code

query13 = {"acquisition.acquired_year" : {"$gt" : 2010} }
project = {"_id":0, "name":1, "acquisition" :1}
result = db["companies"].find(query13,project).sort("acquisition.price_amount", -1)
list (result)[0]

{'name': 'T-Mobile',
 'acquisition': {'price_amount': 39000000000,
  'price_currency_code': 'USD',
  'term_code': None,
  'source_url': 'http://techcrunch.com/2011/03/20/in-the-race-for-more-spectrum-att-is-acquiring-t-mobile-for-39-billion/',
  'source_description': 'In The Race For More Spectrum, AT&T Is Acquiring T-Mobile For $39 Billion',
  'acquired_year': 2011,
  'acquired_month': 3,
  'acquired_day': 20,
  'acquiring_company': {'name': 'AT&T', 'permalink': 'at-t'}}}

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [28]:
# Your Code
query14 = {}
project = {"_id":0, "name":1, "founded_year" :1}
result = db["companies"].find(query14,project).sort("founded_year", 1)
list (result)[:3]

[{'name': 'Flektor', 'founded_year': None},
 {'name': 'Lala', 'founded_year': None},
 {'name': 'SpinVox', 'founded_year': None}]

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [29]:
# Your Code
query15 = {"founded_day" : {"$lte" : 7}}
project = {"_id":0, "name":1}
result = db["companies"].find(query15,project).limit(10).sort("acquisition.price_amount",-1)
list (result)

[{'name': 'Netscape'},
 {'name': 'PayPal'},
 {'name': 'Zappos'},
 {'name': 'Alibaba'},
 {'name': 'Postini'},
 {'name': 'Danger'},
 {'name': 'Clearwell Systems'},
 {'name': 'PrimeSense'},
 {'name': 'Amobee'},
 {'name': 'Vitrue'}]

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [31]:
# Your Code
query16 = {"number_of_employees" : {"$gt" : 4000},"category_code":"web"}
project = {"_id":0, "name":1}
result = db["companies"].find(query16,project).sort("number_of_employees",1)
list (result)

[{'name': 'Expedia'},
 {'name': 'AOL'},
 {'name': 'Webkinz'},
 {'name': 'Rakuten'},
 {'name': 'Los Angeles Times Media Group'},
 {'name': 'Groupon'},
 {'name': 'Yahoo!'},
 {'name': 'eBay'},
 {'name': 'Experian'}]

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [32]:
# Your Code
query17 = {"acquisition.price_amount" : {"$gt" : 10000000},"currency":"EUR" }
project = {"_id":0, "name":1}
result = db["companies"].find(query17,project)
list (result)[:10]

[]

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [ ]:
# Your Code

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [ ]:
# Your Code

### 20. All the companies that have been 'deadpooled' after the third year.

In [ ]:
# Your Code