# Advanced Querying Mongo

Importing libraries and setting up connection

In [21]:
from pymongo import MongoClient
client = MongoClient()

In [23]:
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [24]:
client.ironhack

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'ironhack')

In [25]:
db = client.ironhack

In [26]:
db.companies

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'ironhack'), 'companies')

In [28]:
db.companies.find({"name":"Wetpaint"})

In [31]:
results = list(db.companies.find({"name":"Wetpaint"}))

[{'_id': ObjectId('52cdef7c4bab8bd675297d8a'),
  'name': 'Wetpaint',
  'permalink': 'abc2',
  'crunchbase_url': 'http://www.crunchbase.com/company/wetpaint',
  'homepage_url': 'http://wetpaint-inc.com',
  'blog_url': 'http://digitalquarters.net/',
  'blog_feed_url': 'http://digitalquarters.net/feed/',
  'twitter_username': 'BachelrWetpaint',
  'category_code': 'web',
  'number_of_employees': 47,
  'founded_year': 2005,
  'founded_month': 10,
  'founded_day': 17,
  'deadpooled_year': 1,
  'tag_list': 'wiki, seattle, elowitz, media-industry, media-platform, social-distribution-system',
  'alias_list': '',
  'email_address': 'info@wetpaint.com',
  'phone_number': '206.859.6300',
  'description': 'Technology Platform Company',
  'created_at': datetime.datetime(2007, 5, 25, 6, 51, 27),
  'updated_at': 'Sun Dec 08 07:15:44 UTC 2013',
  'overview': '<p>Wetpaint is a technology platform company that uses its proprietary state-of-the-art technology and expertise in social media to build and monetize audiences for digital publishers. Wetpaint’s own online property, Wetpaint Entertainment, an entertainment news site that attracts more than 12 million unique visitors monthly and has over 2 million Facebook fans, is a proof point to the company’s success in building and engaging audiences. Media companies can license Wetpaint’s platform which includes a dynamic playbook tailored to their individual needs and comprehensive training. Founded by Internet pioneer Ben Elowitz, and with offices in New York and Seattle, Wetpaint is backed by Accel Partners, the investors behind Facebook.</p>',
  'image': {'available_sizes': [[[150, 75],
     'assets/images/resized/0000/3604/3604v14-max-150x150.jpg'],
    [[250, 125], 'assets/images/resized/0000/3604/3604v14-max-250x250.jpg'],
    [[450, 225], 'assets/images/resized/0000/3604/3604v14-max-450x450.jpg']]},
  'products': [{'name': 'Wikison Wetpaint', 'permalink': 'wetpaint-wiki'},
   {'name': 'Wetpaint Social Distribution System',
    'permalink': 'wetpaint-social-distribution-system'}],
  'relationships': [{'is_past': False,
    'title': 'Co-Founder and VP, Social and Audience Development',
    'person': {'first_name': 'Michael',
     'last_name': 'Howell',
     'permalink': 'michael-howell'}},
   {'is_past': False,
    'title': 'Co-Founder/CEO/Board of Directors',
    'person': {'first_name': 'Ben',
     'last_name': 'Elowitz',
     'permalink': 'ben-elowitz'}},
   {'is_past': False,
    'title': 'COO/Board of Directors',
    'person': {'first_name': 'Rob',
     'last_name': 'Grady',
     'permalink': 'rob-grady'}},
   {'is_past': False,
    'title': 'SVP, Strategy and Business Development',
    'person': {'first_name': 'Chris',
     'last_name': 'Kollas',
     'permalink': 'chris-kollas'}},
   {'is_past': False,
    'title': 'Board',
    'person': {'first_name': 'Theresia',
     'last_name': 'Ranzetta',
     'permalink': 'theresia-ranzetta'}},
   {'is_past': False,
    'title': 'Board Member',
    'person': {'first_name': 'Gus',
     'last_name': 'Tai',
     'permalink': 'gus-tai'}},
   {'is_past': False,
    'title': 'Board',
    'person': {'first_name': 'Len',
     'last_name': 'Jordan',
     'permalink': 'len-jordan'}},
   {'is_past': False,
    'title': 'Head of Technology and Product',
    'person': {'first_name': 'Alex',
     'last_name': 'Weinstein',
     'permalink': 'alex-weinstein'}},
   {'is_past': True,
    'title': 'CFO',
    'person': {'first_name': 'Bert',
     'last_name': 'Hogue',
     'permalink': 'bert-hogue'}},
   {'is_past': True,
    'title': 'CFO/ CRO',
    'person': {'first_name': 'Brian',
     'last_name': 'Watkins',
     'permalink': 'brian-watkins'}},
   {'is_past': True,
    'title': 'Senior Vice President, Marketing',
    'person': {'first_name': 'Rob',
     'last_name': 'Grady',
     'permalink': 'rob-grady'}},
   {'is_past': True,
    'title': 'VP, Technology and Product',
    'person': {'first_name': 'Werner',
     'last_name': 'Koepf',
     'permalink': 'werner-koepf'}},
   {'is_past': True,
    'title': 'VP Marketing',
    'person': {'first_name': 'Kevin',
     'last_name': 'Flaherty',
     'permalink': 'kevin-flaherty'}},
   {'is_past': True,
    'title': 'VP User Experience',
    'person': {'first_name': 'Alex',
     'last_name': 'Berg',
     'permalink': 'alex-berg'}},
   {'is_past': True,
    'title': 'VP Engineering',
    'person': {'first_name': 'Steve',
     'last_name': 'McQuade',
     'permalink': 'steve-mcquade'}},
   {'is_past': True,
    'title': 'Executive Editor',
    'person': {'first_name': 'Susan',
     'last_name': 'Mulcahy',
     'permalink': 'susan-mulcahy'}},
   {'is_past': True,
    'title': 'VP Business Development',
    'person': {'first_name': 'Chris',
     'last_name': 'Kollas',
     'permalink': 'chris-kollas'}}],
  'competitions': [{'competitor': {'name': 'Wikia', 'permalink': 'wikia'}},
   {'competitor': {'name': 'JotSpot', 'permalink': 'jotspot'}},
   {'competitor': {'name': 'Socialtext', 'permalink': 'socialtext'}},
   {'competitor': {'name': 'Ning by Glam Media', 'permalink': 'ning'}},
   {'competitor': {'name': 'Soceeo', 'permalink': 'soceeo'}},
   {'competitor': {'name': 'Yola', 'permalink': 'yola'}},
   {'competitor': {'name': 'SocialGO', 'permalink': 'socialgo'}},
   {'competitor': {'name': 'IslamNor', 'permalink': 'islamnor'}}],
  'providerships': [],
  'total_money_raised': '$39.8M',
  'funding_rounds': [{'id': 888,
    'round_code': 'a',
    'source_url': 'http://seattlepi.nwsource.com/business/246734_wiki02.html',
    'source_description': '',
    'raised_amount': 5250000,
    'raised_currency_code': 'USD',
    'funded_year': 2005,
    'funded_month': 10,
    'funded_day': 1,
    'investments': [{'company': None,
      'financial_org': {'name': 'Frazier Technology Ventures',
       'permalink': 'frazier-technology-ventures'},
      'person': None},
     {'company': None,
      'financial_org': {'name': 'Trinity Ventures',
       'permalink': 'trinity-ventures'},
      'person': None}]},
   {'id': 889,
    'round_code': 'b',
    'source_url': 'http://pulse2.com/2007/01/09/wiki-builder-website-wetpaint-welcomes-95m-funding/',
    'source_description': '',
    'raised_amount': 9500000,
    'raised_currency_code': 'USD',
    'funded_year': 2007,
    'funded_month': 1,
    'funded_day': 1,
    'investments': [{'company': None,
      'financial_org': {'name': 'Accel Partners',
       'permalink': 'accel-partners'},
      'person': None},
     {'company': None,
      'financial_org': {'name': 'Frazier Technology Ventures',
       'permalink': 'frazier-technology-ventures'},
      'person': None},
     {'company': None,
      'financial_org': {'name': 'Trinity Ventures',
       'permalink': 'trinity-ventures'},
      'person': None}]},
   {'id': 2312,
    'round_code': 'c',
    'source_url': 'http://www.accel.com/news/news_one_up.php?news_id=185',
    'source_description': 'Accel',
    'raised_amount': 25000000,
    'raised_currency_code': 'USD',
    'funded_year': 2008,
    'funded_month': 5,
    'funded_day': 19,
    'investments': [{'company': None,
      'financial_org': {'name': 'DAG Ventures', 'permalink': 'dag-ventures'},
      'person': None},
     {'company': None,
      'financial_org': {'name': 'Accel Partners',
       'permalink': 'accel-partners'},
      'person': None},
     {'company': None,
      'financial_org': {'name': 'Trinity Ventures',
       'permalink': 'trinity-ventures'},
      'person': None},
     {'company': None,
      'financial_org': {'name': 'Frazier Technology Ventures',
       'permalink': 'frazier-technology-ventures'},
      'person': None}]}],
  'investments': [],
  'acquisition': {'price_amount': 30000000,
   'price_currency_code': 'USD',
   'term_code': 'cash_and_stock',
   'source_url': 'http://allthingsd.com/20131216/viggle-tries-to-bulk-up-its-social-tv-business-by-buying-wetpaint/?mod=atdtweet',
   'source_description': ' Viggle Tries to Bulk Up Its Social TV Business by Buying Wetpaint',
   'acquired_year': 2013,
   'acquired_month': 12,
   'acquired_day': 16,
   'acquiring_company': {'name': 'Viggle', 'permalink': 'viggle'}},
  'acquisitions': [],
  'offices': [{'description': '',
    'address1': '710 - 2nd Avenue',
    'address2': 'Suite 1100',
    'zip_code': '98104',
    'city': 'Seattle',
    'state_code': 'WA',
    'country_code': 'USA',
    'latitude': 47.603122,
    'longitude': -122.333253},
   {'description': '',
    'address1': '270 Lafayette Street',
    'address2': 'Suite 505',
    'zip_code': '10012',
    'city': 'New York',
    'state_code': 'NY',
    'country_code': 'USA',
    'latitude': 40.7237306,
    'longitude': -73.9964312}],
  'milestones': [{'id': 5869,
    'description': "Wetpaint named in Lead411's Hottest Seattle Companies list",
    'stoned_year': 2010,
    'stoned_month': 6,
    'stoned_day': 8,
    'source_url': 'http://www.lead411.com/seattle-companies.html',
    'source_text': None,
    'source_description': 'LEAD411 LAUNCHES "HOTTEST SEATTLE COMPANIES" AWARDS',
    'stoneable_type': 'Company',
    'stoned_value': None,
    'stoned_value_type': None,
    'stoned_acquirer': None,
    'stoneable': {'name': 'Wetpaint', 'permalink': 'wetpaint'}},
   {'id': 8702,
    'description': 'Site-Builder Wetpaint Makes One For Itself, Using the Demand Media Playbook',
    'stoned_year': 2010,
    'stoned_month': 9,
    'stoned_day': 6,
    'source_url': 'http://mediamemo.allthingsd.com/20100906/site-builder-wetpaint-makes-one-for-itself-using-the-demand-media-playbook/',
    'source_text': None,
    'source_description': 'All Things D',
    'stoneable_type': 'Company',
    'stoned_value': None,
    'stoned_value_type': None,
    'stoned_acquirer': None,
    'stoneable': {'name': 'Wetpaint', 'permalink': 'wetpaint'}}],
  'video_embeds': [],
  'screenshots': [{'available_sizes': [[[150, 86],
      'assets/images/resized/0016/0929/160929v2-max-150x150.png'],
     [[250, 143], 'assets/images/resized/0016/0929/160929v2-max-250x250.png'],
     [[450, 258], 'assets/images/resized/0016/0929/160929v2-max-450x450.png']],
    'attribution': None}],
  'external_links': [{'external_url': 'http://www.geekwire.com/2011/rewind-ben-elowitz-wetpaint-ceo-building-type-media-company',
    'title': 'GeekWire interview: Rewind - Ben Elowitz, Wetpaint CEO, on building a new type of media company'},
   {'external_url': 'http://techcrunch.com/2012/06/17/search-and-social-how-two-will-soon-become-one/',
    'title': 'Guest post by CEO Ben Elowitz in TechCrunch'},
   {'external_url': 'http://allthingsd.com/20120516/what-to-expect-when-facebook-is-expecting-five-predictions-for-facebooks-first-public-year/',
    'title': 'Guest post by CEO Ben Elowitz in AllThingsD'},
   {'external_url': 'http://adage.com/article/digitalnext/facebook-biggest-player-advertising-s-540-billion-world/235708/',
    'title': 'Guest post by CEO Ben Elowitz in AdAge'},
   {'external_url': 'http://www.businessinsider.com/facebook-captures-14-percent-of-our-online-attention-but-only-4-percent-of-ad-spending-online-2012-6',
    'title': 'Guest post by CEO Ben Elowitz in Business Insider'},
   {'external_url': 'http://allfacebook.com/wetpaint-media-data_b75963',
    'title': 'AllFacebook coverage of Wetpaint'},
   {'external_url': 'http://adage.com/article/digital/celeb-site-wetpaint-shows-media-profit-facebook/237828/',
    'title': 'Profile of Wetpaint in Ad Age'},
   {'external_url': 'http://allthingsd.com/20121018/how-to-boost-your-facebook-traffic-tips-and-tricks-from-wetpaint/',
    'title': 'Interview with Wetpaint CEO Ben Elowitz in All Things D'},
   {'external_url': 'http://www.xconomy.com/seattle/2012/10/19/wetpaint-starts-licensing-its-facebook-based-media-distribution-tech/',
    'title': 'Profile of Wetpaint in Xconomy'}],
  'partners': []}]

This is what Felipe did during the class, so now I know I'm connected to Mongo and I can import stuff from my database.

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [49]:
# Your Code
filt = {"name":"Babelgum"}
project = {"_id":0, "name":1} 
results = db.companies.find(filt,project)
results = list(results)
results

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [48]:
# Your Code
filt = {"number_of_employees":{"$gt":5000}}
project = {"_id":0, "name":1, "number_of_employees":1} 

results = db.companies.find(filt,project).limit(20).sort("number_of_employees", -1)
results = list(results)
results[:5]

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000}]

I'm limiting the output to 5 results just to keep the order, however, the `.limit(20).sort("number_of_employees", -1)` part of the call is calling to the 20 largest companies

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [47]:
# Your Code
filt = {"founded_year":{"$gte":2000,"$lte":2005}}
project = {"_id":0, "name":1, "founded_year":1} 
results = db.companies.find(filt,project)
results = list(results)
results[:5]

[{'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Zoho', 'founded_year': 2005},
 {'name': 'Digg', 'founded_year': 2004},
 {'name': 'Facebook', 'founded_year': 2004},
 {'name': 'Omnidrive', 'founded_year': 2005}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [50]:
# Your Code
filt = {"$and":[{"ipo.valuation_amount":{"$gt":100000000}},{"founded_year":{"$lt":2010}}]}
project = {"_id":0, "name":1, "ipo.valuation_amount":1} 
results = db.companies.find(filt,project)
results = list(results)
results[:5]

[{'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000}},
 {'name': 'Twitter', 'ipo': {'valuation_amount': 18100000000}},
 {'name': 'Yelp', 'ipo': {'valuation_amount': 1300000000}},
 {'name': 'LinkedIn', 'ipo': {'valuation_amount': 9310000000}},
 {'name': 'Amazon', 'ipo': {'valuation_amount': 100000000000}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [52]:
# Your Code


filt = {"$and":[{"number_of_employees":{"$lt":1000}},{"founded_year":{"$lt":2010}}]}
project = {"_id":0, "name":1, "number_of_employees":1, "founded_year":1} 

results = db.companies.find(filt,project).limit(10)
results = list(results)
results[:5]

[{'name': 'Wetpaint', 'number_of_employees': 47, 'founded_year': 2005},
 {'name': 'AdventNet', 'number_of_employees': 600, 'founded_year': 1996},
 {'name': 'Digg', 'number_of_employees': 60, 'founded_year': 2004},
 {'name': 'Geni', 'number_of_employees': 18, 'founded_year': 2006},
 {'name': 'Fox Interactive Media',
  'number_of_employees': 0,
  'founded_year': 1979}]

### 6. All the companies that don't include the `partners` field.

In [66]:
# Your Code
filt = {"partners":{"$exists":False}}
project = {"_id":0, "name":1}

results = db.companies.find(filt,project)
results = list(results)
results[:5]

[]

This was the query to find if a field exists or not, however, having a look into the MongoDB, it looks that all the companies have the field, but empty, that's why the result list is empty...

### 7. All the companies that have a null type of value on the `category_code` field.

In [67]:
# Your Code
filt = {"category_code":{"$type": 10}}
project = {"_id":0, "name":1, "category_code":1}

results = db.companies.find(filt,project)
results = list(results)
results[:5]

[{'name': 'Collective', 'category_code': None},
 {'name': 'Snimmer', 'category_code': None},
 {'name': 'KoolIM', 'category_code': None},
 {'name': 'Level9 Media', 'category_code': None},
 {'name': 'VidKing', 'category_code': None}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [68]:
# Your Code
filt = {"number_of_employees":{"$gte":100,"$lt":1000}}
project = {"_id":0, "name":1, "number_of_employees":1}

results = db.companies.find(filt,project)
results = list(results)
results[:5]

[{'name': 'AdventNet', 'number_of_employees': 600},
 {'name': 'AddThis', 'number_of_employees': 120},
 {'name': 'OpenX', 'number_of_employees': 305},
 {'name': 'LifeLock', 'number_of_employees': 644},
 {'name': 'Jajah', 'number_of_employees': 110}]

### 9. Order all the companies by their IPO price in a descending order.

In [69]:
# Your Code
filt = {}
project = {"_id":0, "name":1, "ipo.valuation_amount":1}

results = db.companies.find(filt,project).sort("ipo.valuation_amount", -1)
results = list(results)
results[:5]

[{'name': 'GREE', 'ipo': {'valuation_amount': 108960000000}},
 {'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000}},
 {'name': 'Amazon', 'ipo': {'valuation_amount': 100000000000}},
 {'name': 'Twitter', 'ipo': {'valuation_amount': 18100000000}},
 {'name': 'Groupon', 'ipo': {'valuation_amount': 12800000000}}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [71]:
# Your Code
filt = {}
project = {"_id":0, "name":1, "number_of_employees":1}

results = db.companies.find(filt,project).sort("number_of_employees", -1).limit(10)
results = list(results)
results[:5]

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000}]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [78]:
# Your Code
filt = {"founded_month":{"$gt":6}}
project = {"_id":0, "name":1, "founded_month":1}

results = db.companies.find(filt,project).limit(1000)
results = list(results)
results[:5]

[{'name': 'Wetpaint', 'founded_month': 10},
 {'name': 'Zoho', 'founded_month': 9},
 {'name': 'Digg', 'founded_month': 10},
 {'name': 'Omnidrive', 'founded_month': 11},
 {'name': 'eBay', 'founded_month': 9}]

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [80]:
# Your Code
filt = {"$and":[{"acquisition.price_amount":{"$gt":10000000}},{"founded_year":{"$lt":2000}}]}
project = {"_id":0, "name":1, "acquisition.price_amount":1, "founded_year":1}

results = db.companies.find(filt,project)
results = list(results)
results[:5]

[{'name': 'Postini',
  'founded_year': 1999,
  'acquisition': {'price_amount': 625000000}},
 {'name': 'SideStep',
  'founded_year': 1999,
  'acquisition': {'price_amount': 180000000}},
 {'name': 'Recipezaar',
  'founded_year': 1999,
  'acquisition': {'price_amount': 25000000}},
 {'name': 'PayPal',
  'founded_year': 1998,
  'acquisition': {'price_amount': 1500000000}},
 {'name': 'Snapfish',
  'founded_year': 1999,
  'acquisition': {'price_amount': 300000000}}]

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [97]:
# Your Code
filt = {"acquisition.acquired_year":{"$gt":2010}}
project = {"_id":0, "name":1, "acquisition":1}

results = db.companies.find(filt,project).sort("acquisition.price_amount", -1)
results = list(results)
results[:5]

[{'name': 'Wetpaint',
  'acquisition': {'price_amount': 30000000,
   'price_currency_code': 'USD',
   'term_code': 'cash_and_stock',
   'source_url': 'http://allthingsd.com/20131216/viggle-tries-to-bulk-up-its-social-tv-business-by-buying-wetpaint/?mod=atdtweet',
   'source_description': ' Viggle Tries to Bulk Up Its Social TV Business by Buying Wetpaint',
   'acquired_year': 2013,
   'acquired_month': 12,
   'acquired_day': 16,
   'acquiring_company': {'name': 'Viggle', 'permalink': 'viggle'}}},
 {'name': 'Digg',
  'acquisition': {'price_amount': 500000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2012/07/12/betaworks-acquires-digg/',
   'source_description': 'Betaworks Acquires Digg (TechCrunch)',
   'acquired_year': 2012,
   'acquired_month': 7,
   'acquired_day': 12,
   'acquiring_company': {'name': 'betaworks', 'permalink': 'betaworks'}}},
 {'name': 'Geni',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2012/11/28/all-in-the-family-myheritage-buys-former-yammer-stablemate-geni-com-raises-25m/',
   'source_description': 'MyHeritage acquires Geni and $25M to build family tree of the whole world',
   'acquired_year': 2012,
   'acquired_month': 11,
   'acquired_day': 28,
   'acquiring_company': {'name': 'MyHeritage', 'permalink': 'myheritage'}}},
 {'name': 'Kyte',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2011/01/31/exclusive-kit-digital-acquires-kickapps-kewego-and-kyte-for-77-2-million/',
   'source_description': 'KIT digital Acquires KickApps, Kewego AND Kyte For $77.2 Million',
   'acquired_year': 2011,
   'acquired_month': 1,
   'acquired_day': 31,
   'acquiring_company': {'name': 'KIT digital', 'permalink': 'kit-digital'}}},
 {'name': 'Jingle Networks',
  'acquisition': {'price_amount': 62500000,
   'price_currency_code': 'USD',
   'term_code': 'cash_and_stock',
   'source_url': 'http://www.masshightech.com/stories/2011/04/11/daily11-Jingle-Networks-bought-for-up-to-625M.html',
   'source_description': 'Jingle Networks bought for up to $62.5M',
   'acquired_year': 2011,
   'acquired_month': 4,
   'acquired_day': 11,
   'acquiring_company': {'name': 'Marchex', 'permalink': 'marchex'}}}]

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [94]:
# Your Code
filt = {"founded_year":{"$ne":None}}
project = {"_id":0, "name":1, "founded_year":1}

results = db.companies.find(filt,project).sort("founded_year",1)
results = list(results)
results[:5]

[{'name': 'Alstrasoft', 'founded_year': 1800},
 {'name': 'SmallWorlds', 'founded_year': 1800},
 {'name': 'US Army', 'founded_year': 1800},
 {'name': 'DuPont', 'founded_year': 1802},
 {'name': 'McKesson', 'founded_year': 1833}]

I'm using the filter `{"founded_year":{"$ne":None}}` because there were a lot of None values, I wanted to remove them

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [101]:
# Your Code
filt = {"founded_day":{"$lte":7}}
project = {"_id":0, "name":1, "founded_day":1, "acquisition.price_amount":1}

results = db.companies.find(filt,project).limit(10).sort("acquisition.price_amount",-1)
results = list(results)
results[:5]

[{'name': 'Netscape',
  'founded_day': 4,
  'acquisition': {'price_amount': 4200000000}},
 {'name': 'PayPal',
  'founded_day': 1,
  'acquisition': {'price_amount': 1500000000}},
 {'name': 'Zappos',
  'founded_day': 1,
  'acquisition': {'price_amount': 1200000000}},
 {'name': 'Alibaba',
  'founded_day': 1,
  'acquisition': {'price_amount': 1000000000}},
 {'name': 'Postini',
  'founded_day': 2,
  'acquisition': {'price_amount': 625000000}}]

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [103]:
# Your Code
filt = {"$and":[{"category_code":"web"},{"number_of_employees":{"$gt":4000}}]}
project = {"_id":0, "name":1, "category_code":1, "number_of_employees":1}

results = db.companies.find(filt,project).sort("number_of_employees",-1)
results = list(results)
results[:5]

[{'name': 'Experian', 'category_code': 'web', 'number_of_employees': 15500},
 {'name': 'eBay', 'category_code': 'web', 'number_of_employees': 15000},
 {'name': 'Yahoo!', 'category_code': 'web', 'number_of_employees': 13600},
 {'name': 'Rakuten', 'category_code': 'web', 'number_of_employees': 10000},
 {'name': 'Los Angeles Times Media Group',
  'category_code': 'web',
  'number_of_employees': 10000}]

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [104]:
# Your Code
filt = {"$and":[{"acquisition.price_currency_code":"EUR"},{"acquisition.price_amount":{"$gt":10000000}}]}
project = {"_id":0, "name":1, "acquisition.price_amount":1, "acquisition.price_currency_code":1}

results = db.companies.find(filt,project)
results = list(results)
results[:5]

[{'name': 'ZYB',
  'acquisition': {'price_amount': 31500000, 'price_currency_code': 'EUR'}},
 {'name': 'Apertio',
  'acquisition': {'price_amount': 140000000, 'price_currency_code': 'EUR'}},
 {'name': 'Greenfield Online',
  'acquisition': {'price_amount': 40000000, 'price_currency_code': 'EUR'}},
 {'name': 'Webedia',
  'acquisition': {'price_amount': 70000000, 'price_currency_code': 'EUR'}},
 {'name': 'Wayfinder',
  'acquisition': {'price_amount': 24000000, 'price_currency_code': 'EUR'}}]

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [105]:
# Your Code
filt = {"acquisition.acquired_month":{"$lte":3}}
project = {"_id":0, "name":1, "acquisition":1}

results = db.companies.find(filt,project).limit(10)
results = list(results)
results[:5]

[{'name': 'Kyte',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2011/01/31/exclusive-kit-digital-acquires-kickapps-kewego-and-kyte-for-77-2-million/',
   'source_description': 'KIT digital Acquires KickApps, Kewego AND Kyte For $77.2 Million',
   'acquired_year': 2011,
   'acquired_month': 1,
   'acquired_day': 31,
   'acquiring_company': {'name': 'KIT digital', 'permalink': 'kit-digital'}}},
 {'name': 'NetRatings',
  'acquisition': {'price_amount': 327000000,
   'price_currency_code': 'USD',
   'term_code': 'cash',
   'source_url': 'http://login.vnuemedia.com/hr/login/login_subscribe.jsp?id=0oqDem1gYIfIclz9i2%2Ffqj5NxCp2AC5DPbVnyT2da8GyV2mXjasabE128n69OrmcAh52%2FGE3pSG%2F%0AEKRYD9vh9EhrJrxukmUzh532fSMTZXL42gwPB80UWVtF1NwJ5UZSM%2BCkLU1mpYBoHFgiH%2Fi0f6Ax%0A9yMIVxt47t%2BHamhEQ0nkOEK24L',
   'source_description': 'Nielsen buys rest of NetRatings',
   'acquired_year': 2007,
   'acquired_month': 2,
   'acquired_day': None,
   'acquiring_company': {'name': 'Nielsen', 'permalink': 'nielsen'}}},
 {'name': 'blogTV',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2013/03/13/younow-buys-blogtv/',
   'source_description': 'Live Social Video Network YouNow Acquires Streaming Service BlogTV',
   'acquired_year': 2013,
   'acquired_month': 3,
   'acquired_day': 13,
   'acquiring_company': {'name': 'YouNow', 'permalink': 'younow'}}},
 {'name': 'Livestream',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': 'cash_and_stock',
   'source_url': '',
   'source_description': 'company',
   'acquired_year': 2008,
   'acquired_month': 1,
   'acquired_day': 1,
   'acquiring_company': {'name': 'Adviqo', 'permalink': 'adviqo'}}},
 {'name': 'iContact',
  'acquisition': {'price_amount': 169000000,
   'price_currency_code': 'USD',
   'term_code': 'cash_and_stock',
   'source_url': 'http://techcrunch.com/2012/02/28/vocus-buys-email-marketing-company-icontact-for-169-million/',
   'source_description': 'Vocus Buys Email Marketing Company iContact For $169 Million',
   'acquired_year': 2012,
   'acquired_month': 2,
   'acquired_day': 28,
   'acquiring_company': {'name': 'Vocus', 'permalink': 'vocus'}}}]

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [107]:
# Your Code
filt = {"$and":[{"founded_year":{"$gt":2000,"$lt":2010}},{"acquisition.acquired_year":{"$not":{"$lt":2011}}}]}
project = {"_id":0, "name":1,"acquisition.acquired_year":1, "founded_year":1}

results = db.companies.find(filt,project)
results = list(results)
results[:5]

[{'name': 'Wetpaint',
  'founded_year': 2005,
  'acquisition': {'acquired_year': 2013}},
 {'name': 'Zoho', 'founded_year': 2005},
 {'name': 'Digg',
  'founded_year': 2004,
  'acquisition': {'acquired_year': 2012}},
 {'name': 'Facebook', 'founded_year': 2004},
 {'name': 'Omnidrive', 'founded_year': 2005}]

### 20. All the companies that have been 'deadpooled' after the third year.

In [ ]:
# Your Code