# Advanced Querying Mongo

Importing libraries and setting up connection

In [5]:
from pymongo import MongoClient 
client = MongoClient("mongodb://localhost/ironhack")
db = client.get_database()

In [6]:
list(db.list_collections())

[{'name': 'companies',
  'type': 'collection',
  'options': {},
  'info': {'readOnly': False,
   'uuid': UUID('f0df70fa-ecbb-4210-b11a-d2f3d3075dc8')},
  'idIndex': {'v': 2, 'key': {'_id': 1}, 'name': '_id_'}}]

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [7]:
query = {"name":"Babelgum"}
list(db.companies.find(query,{"_id":0,"name":1}))

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [8]:
employees = {"number_of_employees":{"$gt":5000}}
project = {"_id":0,"number_of_employees":1}

result = db.companies.find(employees,project).limit(20).sort("number)of)employees",-1)
result = list(result)
result[:5]

[{'number_of_employees': 8000},
 {'number_of_employees': 51000},
 {'number_of_employees': 86300},
 {'number_of_employees': 33350},
 {'number_of_employees': 80000}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [9]:
# Your Code
query = {"founded_year":{"$gt":2000,"$lte":2005}}
list(db.companies.find(query,{"_id":0, "founded_year":1, "name":1}))[:10]

[{'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Zoho', 'founded_year': 2005},
 {'name': 'Digg', 'founded_year': 2004},
 {'name': 'Facebook', 'founded_year': 2004},
 {'name': 'Omnidrive', 'founded_year': 2005},
 {'name': 'StumbleUpon', 'founded_year': 2002},
 {'name': 'Gizmoz', 'founded_year': 2003},
 {'name': 'Helio', 'founded_year': 2005},
 {'name': 'Plaxo', 'founded_year': 2002},
 {'name': 'Technorati', 'founded_year': 2002}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [10]:
# Your Code
valuation = {"$and":[{"ipo.valuation_amount":{"$gt":100000000}}, {"founded_year":{"$lte":2010}}]}
list(db.companies.find(valuation,{"_id":0, "ipo.valuation_amount":1}))[:10]

[{'ipo': {'valuation_amount': 104000000000}},
 {'ipo': {'valuation_amount': 18100000000}},
 {'ipo': {'valuation_amount': 1300000000}},
 {'ipo': {'valuation_amount': 9310000000}},
 {'ipo': {'valuation_amount': 100000000000}},
 {'ipo': {'valuation_amount': 290000000}},
 {'ipo': {'valuation_amount': 235000000}},
 {'ipo': {'valuation_amount': 1600000000}},
 {'ipo': {'valuation_amount': 1050000000}},
 {'ipo': {'valuation_amount': 287000000}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [11]:
query5 = {"$and":[{"number_of_employees":{"$lte":1000}},{"founded_year":{"$lte":2005}}]}
list(db.companies.find(query5,{"_id":0,"name":1,"number_of_employees":1,"founded_year":1}))[:10]

[{'name': 'Wetpaint', 'number_of_employees': 47, 'founded_year': 2005},
 {'name': 'AdventNet', 'number_of_employees': 600, 'founded_year': 1996},
 {'name': 'Digg', 'number_of_employees': 60, 'founded_year': 2004},
 {'name': 'Fox Interactive Media',
  'number_of_employees': 0,
  'founded_year': 1979},
 {'name': 'Plaxo', 'number_of_employees': 50, 'founded_year': 2002},
 {'name': 'Technorati', 'number_of_employees': 35, 'founded_year': 2002},
 {'name': 'AddThis', 'number_of_employees': 120, 'founded_year': 2004},
 {'name': 'Jingle Networks', 'number_of_employees': 35, 'founded_year': 2005},
 {'name': 'Meetup', 'number_of_employees': 75, 'founded_year': 2002},
 {'name': 'LifeLock', 'number_of_employees': 644, 'founded_year': 2005}]

### 6. All the companies that don't include the `partners` field.

In [12]:
# Your Code
query6 = {"partners": {"$exists": "false"}}
list(db.companies.find(query6,{"_id": 0, "name":1}))[:5]

[{'name': 'Wetpaint'},
 {'name': 'AdventNet'},
 {'name': 'Zoho'},
 {'name': 'Digg'},
 {'name': 'Facebook'}]

### 7. All the companies that have a null type of value on the `category_code` field.

In [13]:
query7 = {"category_code": None}
list(db.companies.find(query7,{"_id":0, "name": 1, "category_code":1}))[:10]

[{'name': 'Collective', 'category_code': None},
 {'name': 'Snimmer', 'category_code': None},
 {'name': 'KoolIM', 'category_code': None},
 {'name': 'Level9 Media', 'category_code': None},
 {'name': 'VidKing', 'category_code': None},
 {'name': 'Drigg', 'category_code': None},
 {'name': 'SpaceTime', 'category_code': None},
 {'name': 'Touch Clarity', 'category_code': None},
 {'name': 'MMDAYS', 'category_code': None},
 {'name': 'Inside Group', 'category_code': None}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [14]:
# Your Code
query8 = {"number_of_employees":{"$gt":100, "$lte":1000}}
list(db.companies.find(query8,{"_id":0, "name":1, "number_of_employees":1}))[:10]

[{'name': 'AdventNet', 'number_of_employees': 600},
 {'name': 'AddThis', 'number_of_employees': 120},
 {'name': 'OpenX', 'number_of_employees': 305},
 {'name': 'LifeLock', 'number_of_employees': 644},
 {'name': 'Jajah', 'number_of_employees': 110},
 {'name': 'Livestream', 'number_of_employees': 120},
 {'name': 'Ustream', 'number_of_employees': 250},
 {'name': 'iContact', 'number_of_employees': 300},
 {'name': 'Yelp', 'number_of_employees': 800},
 {'name': 'Dailymotion', 'number_of_employees': 120}]

### 9. Order all the companies by their IPO price in a descending order.

In [15]:
query9 = {"_id":0, "name":1, "ipo.valuation_amount":1}
list(db.companies.find({}, query9).sort("ipo.valuation_amount", -1))[:10]

[{'name': 'GREE', 'ipo': {'valuation_amount': 108960000000}},
 {'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000}},
 {'name': 'Amazon', 'ipo': {'valuation_amount': 100000000000}},
 {'name': 'Twitter', 'ipo': {'valuation_amount': 18100000000}},
 {'name': 'Groupon', 'ipo': {'valuation_amount': 12800000000}},
 {'name': 'Tencent', 'ipo': {'valuation_amount': 11000000000}},
 {'name': 'Western Digital', 'ipo': {'valuation_amount': 9430000000}},
 {'name': 'LinkedIn', 'ipo': {'valuation_amount': 9310000000}},
 {'name': 'BMC Software', 'ipo': {'valuation_amount': 6000000000}},
 {'name': 'Rackspace', 'ipo': {'valuation_amount': 5440000000}}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [16]:
query10 = {"_id": 0, "name": 1, "number_of_employees": 1}
list(db.companies.find({}, query10).sort("number_of_employees", -1))[:10]

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000}]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [17]:
query11 = {"founded_month": {"$gte": 6, "$lte": 12}}
list(db.companies.find(query11, {"_id":0, "name":1, "founded_month":1}).limit(1000))[:10]

[{'name': 'Wetpaint', 'founded_month': 10},
 {'name': 'Zoho', 'founded_month': 9},
 {'name': 'Digg', 'founded_month': 10},
 {'name': 'Omnidrive', 'founded_month': 11},
 {'name': 'Postini', 'founded_month': 6},
 {'name': 'Geni', 'founded_month': 6},
 {'name': 'Fox Interactive Media', 'founded_month': 6},
 {'name': 'eBay', 'founded_month': 9},
 {'name': 'Joost', 'founded_month': 10},
 {'name': 'Plaxo', 'founded_month': 11}]

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [18]:
# Your Code
query12 = {"$and":[{"founded_year":{"$lt":2000}},{"acquisition.price_amount":{"$gt":10000000}}]}
list(db.companies.find(query12, {"_id":0, "name":1, "founded_year":1}))[:10]

[{'name': 'Postini', 'founded_year': 1999},
 {'name': 'SideStep', 'founded_year': 1999},
 {'name': 'Recipezaar', 'founded_year': 1999},
 {'name': 'PayPal', 'founded_year': 1998},
 {'name': 'Snapfish', 'founded_year': 1999},
 {'name': 'Neopets', 'founded_year': 1999},
 {'name': 'Sun Microsystems', 'founded_year': 1982},
 {'name': 'Zappos', 'founded_year': 1999},
 {'name': 'Alibaba', 'founded_year': 1999},
 {'name': 'Sabre', 'founded_year': 1960}]

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [19]:
query13 = {"acquisition.acquired_year": {"$gt": 2010}}
list(db.companies.find(query13, {"_id":0, "name":1, "acquisition":1}))[:3]

[{'name': 'Wetpaint',
  'acquisition': {'price_amount': 30000000,
   'price_currency_code': 'USD',
   'term_code': 'cash_and_stock',
   'source_url': 'http://allthingsd.com/20131216/viggle-tries-to-bulk-up-its-social-tv-business-by-buying-wetpaint/?mod=atdtweet',
   'source_description': ' Viggle Tries to Bulk Up Its Social TV Business by Buying Wetpaint',
   'acquired_year': 2013,
   'acquired_month': 12,
   'acquired_day': 16,
   'acquiring_company': {'name': 'Viggle', 'permalink': 'viggle'}}},
 {'name': 'Digg',
  'acquisition': {'price_amount': 500000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2012/07/12/betaworks-acquires-digg/',
   'source_description': 'Betaworks Acquires Digg (TechCrunch)',
   'acquired_year': 2012,
   'acquired_month': 7,
   'acquired_day': 12,
   'acquiring_company': {'name': 'betaworks', 'permalink': 'betaworks'}}},
 {'name': 'Geni',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2012/11/28/all-in-the-family-myheritage-buys-former-yammer-stablemate-geni-com-raises-25m/',
   'source_description': 'MyHeritage acquires Geni and $25M to build family tree of the whole world',
   'acquired_year': 2012,
   'acquired_month': 11,
   'acquired_day': 28,
   'acquiring_company': {'name': 'MyHeritage', 'permalink': 'myheritage'}}}]

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [20]:
query14 = {"founded_year":{"$ne":None}}
project14 = {"_id":0, "name":1, "founded_year":1}

res14 = db.companies.find(query14,project14).sort("founded_year",1)
list(res14)[:10]

[{'name': 'Alstrasoft', 'founded_year': 1800},
 {'name': 'SmallWorlds', 'founded_year': 1800},
 {'name': 'US Army', 'founded_year': 1800},
 {'name': 'DuPont', 'founded_year': 1802},
 {'name': 'McKesson', 'founded_year': 1833},
 {'name': 'Bachmann Industries', 'founded_year': 1833},
 {'name': 'Bertelsmann', 'founded_year': 1835},
 {'name': 'Accuity', 'founded_year': 1836},
 {'name': 'CENTRA', 'founded_year': 1839},
 {'name': 'WeGame', 'founded_year': 1840}]

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [22]:
query15 = {"founded_month": {"$lte": 7}}
project15 = {"_id": 0, "name": 1, "founded_month": 1, "acquisition.price_amount": 1}
res15 = db.companies.find(query15, project15).sort("acquisition.price_amount", -1)[:10]
list(res15)

[{'name': 'Sun Microsystems',
  'founded_month': 2,
  'acquisition': {'price_amount': 7400000000}},
 {'name': 'Siebel Systems',
  'founded_month': 1,
  'acquisition': {'price_amount': 5850000000}},
 {'name': 'Netscape',
  'founded_month': 4,
  'acquisition': {'price_amount': 4200000000}},
 {'name': 'SuccessFactors',
  'founded_month': 5,
  'acquisition': {'price_amount': 3400000000}},
 {'name': 'YouTube',
  'founded_month': 2,
  'acquisition': {'price_amount': 1650000000}},
 {'name': 'Zappos',
  'founded_month': 1,
  'acquisition': {'price_amount': 1200000000}},
 {'name': 'Meraki',
  'founded_month': 4,
  'acquisition': {'price_amount': 1200000000}},
 {'name': 'Tumblr',
  'founded_month': 2,
  'acquisition': {'price_amount': 1100000000}},
 {'name': 'Alibaba',
  'founded_month': 6,
  'acquisition': {'price_amount': 1000000000}},
 {'name': 'Kiva Systems',
  'founded_month': 1,
  'acquisition': {'price_amount': 775000000}}]

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [23]:
query16 = {"$and":[{"category_code":"web"},{"number_of_employees":{"$gt":4000}}]}
project16 = {"_id":0, "name":1, "category_code":1, "number_of_employees":1}

res16 = db.companies.find(query16, project16).sort("number_of_employees", -1)
list(res16)

[{'name': 'Experian', 'category_code': 'web', 'number_of_employees': 15500},
 {'name': 'eBay', 'category_code': 'web', 'number_of_employees': 15000},
 {'name': 'Yahoo!', 'category_code': 'web', 'number_of_employees': 13600},
 {'name': 'Rakuten', 'category_code': 'web', 'number_of_employees': 10000},
 {'name': 'Los Angeles Times Media Group',
  'category_code': 'web',
  'number_of_employees': 10000},
 {'name': 'Groupon', 'category_code': 'web', 'number_of_employees': 10000},
 {'name': 'Webkinz', 'category_code': 'web', 'number_of_employees': 8657},
 {'name': 'AOL', 'category_code': 'web', 'number_of_employees': 8000},
 {'name': 'Expedia', 'category_code': 'web', 'number_of_employees': 4400}]

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [24]:
query17 = {"acquisition.price_amount": {"$gt": 10000000}, "acquisition.price_currency_code": "EUR"}
list(db.companies.find(query17, {"_id":0, "name":1, "acquisition.price_amount": 1, "acquisition.price_currency_code": 1}))

[{'name': 'ZYB',
  'acquisition': {'price_amount': 31500000, 'price_currency_code': 'EUR'}},
 {'name': 'Apertio',
  'acquisition': {'price_amount': 140000000, 'price_currency_code': 'EUR'}},
 {'name': 'Greenfield Online',
  'acquisition': {'price_amount': 40000000, 'price_currency_code': 'EUR'}},
 {'name': 'Webedia',
  'acquisition': {'price_amount': 70000000, 'price_currency_code': 'EUR'}},
 {'name': 'Wayfinder',
  'acquisition': {'price_amount': 24000000, 'price_currency_code': 'EUR'}},
 {'name': 'Tuenti Technologies',
  'acquisition': {'price_amount': 70000000, 'price_currency_code': 'EUR'}},
 {'name': 'BioMed Central',
  'acquisition': {'price_amount': 43400000, 'price_currency_code': 'EUR'}}]

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [25]:
query18 = {"acquisition.acquired_month":{"$lte":3}}
list(db.companies.find(query18, {"_id":0, "name":1, "acquisition":1}))[:3]

[{'name': 'Kyte',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2011/01/31/exclusive-kit-digital-acquires-kickapps-kewego-and-kyte-for-77-2-million/',
   'source_description': 'KIT digital Acquires KickApps, Kewego AND Kyte For $77.2 Million',
   'acquired_year': 2011,
   'acquired_month': 1,
   'acquired_day': 31,
   'acquiring_company': {'name': 'KIT digital', 'permalink': 'kit-digital'}}},
 {'name': 'NetRatings',
  'acquisition': {'price_amount': 327000000,
   'price_currency_code': 'USD',
   'term_code': 'cash',
   'source_url': 'http://login.vnuemedia.com/hr/login/login_subscribe.jsp?id=0oqDem1gYIfIclz9i2%2Ffqj5NxCp2AC5DPbVnyT2da8GyV2mXjasabE128n69OrmcAh52%2FGE3pSG%2F%0AEKRYD9vh9EhrJrxukmUzh532fSMTZXL42gwPB80UWVtF1NwJ5UZSM%2BCkLU1mpYBoHFgiH%2Fi0f6Ax%0A9yMIVxt47t%2BHamhEQ0nkOEK24L',
   'source_description': 'Nielsen buys rest of NetRatings',
   'acquired_year': 2007,
   'acquired_month': 2,
   'acquired_day': None,
   'acquiring_company': {'name': 'Nielsen', 'permalink': 'nielsen'}}},
 {'name': 'blogTV',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2013/03/13/younow-buys-blogtv/',
   'source_description': 'Live Social Video Network YouNow Acquires Streaming Service BlogTV',
   'acquired_year': 2013,
   'acquired_month': 3,
   'acquired_day': 13,
   'acquiring_company': {'name': 'YouNow', 'permalink': 'younow'}}}]

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

### 20. All the companies that have been 'deadpooled' after the third year.

In [ ]:
# Your Code